[2015-09-07 23:52] drujensen opened #1 "requires all drivers to be in projectfile"
Find a way to only compile and include the adapters for the drivers that are included in the projectfile

[2015-09-13 16:19] drujensen commented on #1
I reversed the order of the required chain so you need to specify which adapter in your model.  This allows the compilation of only the adapter needed.

[2015-09-13 16:19] #1 closed

[2016-07-22 11:49] TechMagister opened #3 "TEXT fields are set to nil"
With the MySQL adapter, the type of TEXT field is ```Slice(UInt8)``` and can't be converted to String using ```as_a?``` method.

this test fail :
[code]

[2016-08-08 18:47] crisward opened #6 "undefined constant SQLite3::Database"
I'm very new to Crystal, so apologies if this is silly question.

I'm getting the below error

[code]

shards.yml

[code]

database.yml

[code]

user.cr

[code]

Many thanks.

[2016-08-11 04:19] #3 closed

[2016-08-11 04:34] drujensen commented on #6
@crisward It looks like  manastech/crystal-sqlite3 has moved to crystal-lang/crystal-sqlite3 and has changed.  The good news is that they have created a common base class to build new drivers on so my adapters may not be necessary anymore.  When I get some free time, I will look into it.

[2016-08-11 18:07] crisward commented on #6
Cool, Thanks...

[2016-09-06 22:20] m4tm4t opened #7 "Integer fields ?"
Hi,

I'm trying to setup INTEGER field in sql_mapping, but look like buggy.

[code]

When saving, I'm getting :

[code]

I looked into spec and I feel surprised that there isn't any integer field covered :octocat:

[2016-09-07 01:59] drujensen commented on #7
Hi,

There is a known issue related to the SQLite adapter. The driver was rewritten and built using its own adapter pattern which will be difficult/ugly if I integrate as is.

Regarding specs per type, it could definitely use more specs. Any help is appreciated.

Dru

Sent from my iPhone

[2016-09-07 13:45] foohey commented on #7
In fact the sqlite3 adapter work very well if I use the driver from old repo
[code]
I found that the error happen if there's no `["VARCHAR(255)", String]` defined in `sql_mapping`

[2016-09-07 14:43] drujensen commented on #7
That is very useful information.  I didn’t realize that repository was still available.

Regarding the type cast error, I never tested without a string so I will look into adding that test scenario.

Thanks!

[2016-09-07 15:09] foohey commented on #7
I ran another issue when fetching existing rows :
[code]
that come from the `from_sql` method. After looking at the source, I don't understand the use case of the condition at line #60
[code]
After some debug, the `result[{{i}}].class` and `{{types[1].id}}` for the `user_id` field are `Int32`

So it should look like `Int32 == Slice(UInt8) && Int32 == String` and should return false, very strange c

[2016-09-07 15:48] drujensen commented on #7
Very strange.

When I first wrote this using earlier versions of Crystal, it handled the type conversion automatically using Union types, so the mapping was simple.

To support later versions, I had to explicitly add the type to the sql_mapping, but as you can see, that didn’t work for the SQLLite driver and String.

I think this is kludgy.  It could use some refactoring and a better design for ha

[2016-09-07 15:56] foohey commented on #7
I just tested with postgres and the same behavior occurs

[2016-10-19 15:31] yjukaku commented on #7
This also happens with the MySQL adapter.

The sql_mapping in company.cr
[code]

[code]

[code]

[2016-11-03 20:35] drujensen commented on #7
Release 0.2.0 with new Crystal DB Drivers.

[2016-11-03 20:35] #7 closed

[2016-11-03 20:35] drujensen commented on #6
Release 0.2.0 with new Crystal DB Drivers.

[2016-11-03 20:35] #6 closed

[2016-11-03 20:42] yjukaku commented on #7
Thanks! 👍 😄

[2016-11-05 20:52] drujensen opened #11 "created_at and updated_at should be Time not String"
Look into supporting proper timestamps in Mysql and Pg.  Currently the DB::Any does not have Time included.

[2016-11-05 20:53] drujensen opened #12 "Support for Boolean"
The new db drivers to not support Boolean in the DB::Any Union.  Look at how to support other types not included in the driver.

[2016-11-05 20:54] drujensen opened #13 "Support for Time"
Look into support for other types that the DB::Any Union is missing.

[2016-11-20 16:27] #13 closed

[2016-11-20 16:27] #12 closed

[2016-11-23 10:15] ruivieira opened #15 "`can't execute OpAssign in a macro` error with Crystal 0.20"
OS: macOS 10.12.1
Crystal:  0.20.0 (2016-11-22)
kemalyst-model: latest (shards)

[code]

[2016-11-23 16:08] drujensen commented on #15
Released v0.2.3 that supports Crystal 0.20.0

[2016-11-23 16:08] #15 closed

[2016-11-24 09:12] ruivieira commented on #15
Working fine from my side, thanks!

[2016-11-25 03:12] azah opened #17 "proposal: decouple Model#find from id"
or I guess I should say decouple #select_one from id as well as #find.

Currently, the only way to #find a post is with its ID.
However, for vanity URLs, it's nice to search by a slug.

Example implementation:

Post.cr
[code]

post_controller.cr
[code]

kemalyst-model.cr (field parameter is added)
This way, people can still use #find like normal.
[code]

mysql.cr (etc for pg/sqlite)
[code]

Though

[2016-11-25 16:08] drujensen commented on #17
This is an excellent proposal!  If you want to provide a PR with some specs, I will merge.

If not, I will work on it soon.

Sent from my iPhone

[2016-11-26 02:56] drujensen commented on #17
Thanks @azah!

[2016-11-26 02:56] #17 closed

[2016-11-28 19:28] azah opened #19 "error on running db/migrate.cr- Can't DROP 'total'; check that column/key exists (Exception)"
This field was never in my model to begin with.

Looks like it's an issue with #prune.
Even if I add a field in mysql called 'total', the error still occurs (and the new 'total' field is also dropped).

stacktrace:
[code]

[2016-11-28 20:05] drujensen commented on #19
ok, I will take a look when I get a chance

[2016-12-03 16:23] drujensen commented on #19
Released v0.2.5 to address this issue.  @azah Thanks for reporting this!

[2016-12-03 16:23] #19 closed

[2017-01-30 23:27] sebyx07 opened #22 "Sql injection"
Is there a library to sanitize user input? Or does kemalyst-model handle that already?

[2017-01-31 04:18] drujensen commented on #22
The db drivers handle that with parameters being passed.  When you save a kemalyst model, it will generate the correct insert or update statement and pass the values as parameters, so you should be safe.

[2017-03-21 10:09] yxhuvud opened #23 "Classes must be in toplevel scope."
The macros break when trying to put the model inside a module, eg

[code]

[2017-04-15 02:47] elorest opened #24 "DATABASE_URL ENV should overwrite database.yml if it exists."
In Rails database_url overwrites database.yml if it exists.
`If non-duplicate information is provided you will get all unique values, environment variable still takes precedence in cases of any conflicts.`
This is really useful because it allows you to configure default values in database.yml but override them for docker or production.

If you agree with this I'll send a pull request.

[2017-04-20 03:12] #24 closed

[2017-04-20 03:12] #22 closed

[2017-04-20 03:12] #11 closed

[2017-04-24 13:52] drujensen commented on #23
@yxhuvud thanks for reporting this.  I will look into it soon.

[2017-04-29 11:37] lhz opened #27 "Support id columns of type Int32 for legacy tables"
It would be neat to be able to override the type of the `id` column when defining a model class.

Use case: I have an existing Rails app using MySQL as database backend, and want to implement a new microservice in Crystal operating on the same database. The `id` column in this database is of type `INT(11)`, which maps to an `Int32` with the mysql adapter.

This currently precludes the use of `kema

[2017-04-29 13:41] drujensen commented on #27
Thanks for the feature request.

With the recent changes to support finished macro, we should be able to add a primary key macro with overrides.

Is this something you would be interested in working on?

If not, I will take a stab at it.

Sent from my iPhone

[2017-04-29 14:01] drujensen commented on #27
I see you forked the repo. Let me know if you need any help on this.

what do you think of:
[code]
as the macro name?

Then maybe maintain a separate hash for the primary.   In the finished macro you can replace the hard-coded id.  You might need to update all the adapters as well.

[2017-04-29 14:05] drujensen commented on #27
This will allow us to rename the primary key as well which should help with backward compatibility to legacy db's.

[2017-04-29 15:11] lhz commented on #27
I'll see if I can come up with something and get back to you with a PR, or some questions. Your idea of a primary macro for custom column and type looks good!

[2017-04-29 15:45] lhz commented on #27
Looks like the `#save`, `#destroy`, `.all`, `.find` and `find_by` methods will also need to be generated inside macros for this to work.

[2017-04-29 15:56] lhz commented on #27
To use a customized primary column type it looks like I'll need to make most of the instance method definitions on the model take place inside macros as well.

[2017-04-29 16:51] lhz commented on #27
As far as I can tell, the most straightforward solution is to add an extra `primary_name` parameter to the adapters' `update` and `delete` methods. The return type and casting in the adapters' `insert` method can be dropped, then do the casting inside the model where the value is returned instead.

[2017-04-29 17:59] drujensen commented on #27
Yes, sounds right.

Sent from my iPhone

[2017-04-29 22:53] #27 closed

[2017-04-29 22:53] drujensen opened #29 "timestamps in sqlite"
Support timestamps and time, date in sqlite

[2017-04-29 23:07] drujensen opened #30 "add support for 1 to many relationships"
Create two new macros: `belongs_to` and `has_many`

[code]
This will create a mapping to the `post_id : Int64` field and generate a method that will query the parent and return it.

[code]

[code]
This will create a method called comments that will query the children records.
[code]
Options to override the field names and types should be considered for legacy database mappings.

One of the difficu

[2017-04-29 23:09] drujensen commented on #23
@yxhuvud Do you think you would have some time to look into this issue and possibly contribute a fix?

The table name should probably include the module so for your example the table name would be `foo_wat`.  I think this is the way rails does it.

[2017-04-30 01:25] drujensen commented on #23
@yxhuvud I found an easy fix and will deploy soon..

[2017-04-30 01:35] drujensen commented on #23
Release v0.5.5 fixes this issue.

[2017-04-30 01:35] #23 closed

[2017-05-05 01:00] elorest commented on #30
I would suggest that all of the models should be loaded into the main project file.

[code]

[2017-05-05 01:41] drujensen commented on #30
can you require all subdirectories as well?  does this work in crystal? `require "./models/**/*`

[2017-05-05 01:45] drujensen commented on #30
found it:  https://crystal-lang.org/docs/syntax_and_semantics/requiring_files.html
[code]

[2017-05-05 02:06] elorest commented on #30
Both of those will work. For instance `require "./**/*"`

[2017-05-07 01:39] elorest opened #35 "Weird issue when I try to use kemalyst model without kemalyst."
I copied a model that worked perfectly within a kemalyst project over to a simpler kemal project but I get a confusing error when I try to compile. I've included kemalyst-model and crystal-mysql. But for some reason I get this error.

[code]

Is there some other dependency I'm unaware of?

[2017-05-07 02:33] drujensen commented on #35
no other dependency.  the mysql.cr open() is when it connects to the db.  Can you confirm the config/database.yml or DATABASE_URL is correct?

[2017-05-07 02:40] drujensen commented on #35
Looking at the code, it may require the `config/database.yml` file to exist.

[2017-05-07 02:56] elorest commented on #35
I should have mentioned that it does exist. I copied that over as well.

[2017-05-07 03:20] elorest commented on #35
I just tried it in the amber framework too. I don't get what's different. I copied the exact same model and database.yml over and added kemalyst-model and crystal-mysql to the shard.yml.

[2017-05-07 03:23] elorest commented on #35
I just verified that the version numbers for the shards were the same as well.

[2017-05-07 03:24] elorest commented on #35
[code]

That's the end of the error message. If it helps at all.

[2017-05-07 03:36] drujensen commented on #35
crystal version is 0.22.0.  This is a breaking change in 0.21.1.

[2017-05-07 03:55] elorest commented on #35
So dumb of me. Thank you.

[2017-05-07 03:59] drujensen commented on #35
No worries.  I ran into this same issue a week ago otherwise I would have been lost.  Looking forward to semantic versioning in some of these projects.

I should probably check if `config/database.yml`  exists and ignore if it doesn't.

[2017-05-07 04:01] elorest commented on #35
Yeah. Unless it crashes if yaml can't read it the envvar overrides it
anyway.

On May 6, 2017 9:59 PM, "Dru Jensen" <notifications@github.com> wrote:

[2017-05-07 04:10] elorest commented on #35
https://github.com/drujensen/kemalyst-model/blob/master/src/kemalyst-model.cr#L25

At that point it loads: `database: mysql://root@localhost:3306/test_blog_development`
DATABASE_URL just equals. "mysql://root@localhost:3306/test_blog_development`

[2017-05-08 03:43] #35 closed

[2017-05-22 22:38] drujensen opened #37 "granite_orm vs granite-orm"
I noticed that we have underscore for the name and then dash for the github repository.  I think it would be better to have some consistency here to make it easier to configure.

[2017-05-22 23:58] elorest commented on #37
I agree although the convention from ruby is definitely underscores except
for urls. Crystal seems to have the same standard in the core and most of
the projects.

Isaac Sloan - isaacsloan.com
Artisan Rails Architect
1391 S Slate Canyon Dr.
Provo, Ut 84606
Cell: (435)-669-5005

On Mon, May 22, 2017 at 4:38 PM, Dru Jensen <notifications@github.com>
wrote:

[2017-05-23 01:00] drujensen commented on #37
Most of the github repos for crystal are using dashes in the project name. I would stick with that convention.

Sent from my iPhone

[2017-05-23 01:09] drujensen commented on #37
Actually, I take that back. I see a mix of project names with both underscores and dashes. Hhmm.

Sent from my iPhone

[2017-05-23 02:11] elorest commented on #37
I asked on 2 separate days in the crystal gitter and the consensus was
underscores although some programs do use hyphens. I believe everything in
at github.com/crystal-lang/* used underscores though. It's your project
though and either work. I've been in ruby so long that hyphens just seem
really weird to me though.

Isaac Sloan - isaacsloan.com
Artisan Rails Architect
1391 S Slate Canyon Dr.
Prov

[2017-05-23 03:31] drujensen commented on #37
:+1:

[2017-05-23 03:31] #37 closed

[2017-07-09 12:29] drujensen opened #40 "Keep database connection open"
The current implementation opens and closes the database connection on each request. This makes the reliable and self healing if the network or database goes down for a short period of time but it slows the web apply down significantly

 - Change the logic to keep the database connection open.
 - Add logic to handle failures and retry to recreate the connection.
 - Add specs to verify.

Add

[2017-07-17 02:41] azah commented on #30
I'll try and take a stab at this in the next few weeks.

[2017-07-26 14:19] drujensen commented on #40
Fixed #39

[2017-07-26 14:19] #40 closed

[2017-08-14 00:27] MSDandrea opened #44 "Can't insert model with Time value using mysql adapter"
I have the following table:
[code]

and I used the following model to represent it:
[code]

using this code:
[code]
I receive this error: `Save Exception: Incorrect datetime value: '' for column 'expires_at' at row 1`

I investigated a little and the statement and params passed to mysql are:
`INSERT INTO tokens (permission,expires_at,ttl,created_at,updated_at) VALUES (?,?,?,?,?)`
`[11, 2017-08-13

[2017-09-06 06:30] c910335 opened #49 "Modulize Granite::ORM"
I think it is time to modulize Granite::ORM because `src/granite_orm.cr` is too complicated to add new features.
The following are my suggestions.

#### Renaming `Granite::ORM` to `Granite::ORM::Base`

If we want to split `Granite::ORM` into modules, those modules should be inside a module which is very likely to be named as `Granite::ORM`. Thus, renaming the original class `Granite::ORM` to `Gran

[2017-09-06 13:19] drujensen commented on #49
@c910335 yes, I agree long overdue.  I like your proposal.

We are also looking to move Kemalyst::Validators into Granite::ORM so this modularization would be a welcome change.

Is this something you will be working on?

[2017-09-06 14:39] c910335 commented on #49
If there is no progress by now, I am going to deal with this.

[2017-09-06 14:49] drujensen commented on #49
I"m not aware of anyone working on this.  thanks @c910335

[2017-09-07 00:21] migeorge opened #50 "Add support for to_json to models"
When developing an API only application with Amber the need for JSON model serialization becomes apparent rather quickly.

It seems logical to add JSON mapping support to Granite models so I wanted to open this issue to start a discussion.

I'm willing to put some time towards a PR on this, but I wanted to get input from existing members of this project to flesh out an acceptable implementation be

[2017-09-07 02:17] drujensen commented on #50
Hi Mike.

Thanks for opening the discussion.

I have put a lot of thought into this over the years and have tried implementing a clean JSON mapping in granite ORM to no avail.

The current JSON.mapping in the core requires an initializer that conflicts the granite initilizer.

Also, To properly serialize to JSON, most users will need to map to customized key names.  In the JS world, they will want

[2017-09-07 13:20] migeorge commented on #50
That makes sense for a simple API it might make sense to stick with `to_json` so you can return something like the following in your controller:

[code]

But I do also see the case for Serializers. Often times in rails projects I find myself reaching for Active Model Serializers, especially once you get into side-loading relationships. Maybe Granite models could support `to_json` and we also add a

[2017-09-07 17:18] elorest commented on #50
My thoughts are that we should just return a Hash(Symbol, String) we could call to_json on it or pass it to another serializer. That way we easily allow for extendability without having to build a serializer in or really changing the system at all. Thoughts?

[2017-09-08 12:39] c910335 commented on #49
Why are there so many class methods defined in the macro `process_fields`?
I think `clear`, `all`, `find`, `find_by`, `exec`, `query` and `scalar` should be taken out of it because they didn't access any macro variables.

[2017-09-08 13:33] drujensen commented on #49
This is remnants from before having the ability to do a `finished` macro.  https://github.com/amber-crystal/granite-orm/blob/master/src/granite_orm.cr#L15

If we can remove them from the macro now, we should.

[2017-09-08 13:40] drujensen commented on #50
@elorest that should be fairly straight forward to do in the mapping macro and they can override the `to_json` method or create a serializer if they need more than what it can provide.

[2017-09-10 02:34] c910335 commented on #49
Forgot associations.cr

[2017-09-10 06:36] c910335 opened #57 "Provide field! for property!"
Most of the times, we are very sure that a field is not nil (by validator, default value or SQL not null constraint), so it is annoying to check nil every time and [property!](https://crystal-lang.org/api/0.23.1/Object.html#property%21%28%2Anames%29-macro) works well for this situation.

[2017-09-10 14:47] #49 closed

[2017-09-11 14:03] migeorge commented on #30
Closing since #52 was merged.

[2017-09-11 14:03] #30 closed

[2017-09-11 14:05] migeorge commented on #44
Closing this since #45 was merged.

[2017-09-11 14:05] #44 closed

[2017-09-14 18:18] villzor opened #59 "Improving relationships between models"
When using Granite-Orm I found myself missing a lot of functionalities in terms of relationships between models, and after starting extending it in my own chamber I wanted to share some thoughts on improvement, my approach so far and possibilities to contribute this to Granite. I'm still a beginner in Crystal so I'm sorry if some of my code is written poorly!

## Distinguishing between serial and

[2017-09-14 18:31] villzor commented on #50
Connecting to my other suggestion regarding relationships (https://github.com/amberframework/granite-orm/issues/59), I started sketching on overriding the to_json(json : JSON::Builder) functionality, and adding support for mapping relationships as well. I haven't considered the possibility of adding custom naming of fields with camelcase and so forth, but by overriding this function we can to_json

[2017-09-14 18:58] drujensen commented on #59
Hi @villzor Thanks for opening an issue for discussion.  I'm glad you are using Granite and the feedback is critical for it's success.

1. Many to Many relationships

In my experience, when making a many to many relationship, it is best to create one to many relationships to a new model that represents the relationship.  For example, lets say you have a many to many relationship between users and

[2017-09-14 19:02] drujensen commented on #57
nice!  I love seeing the language grow.  We used to always use `not_nil!` which is super annoying.

[2017-09-14 20:38] villzor commented on #59
Thanks for your swift response! Yes, I agree that the syntax for many to many relationships you provided is much more aligned with how Granite is designed today and it is probably the better choice. Redeveloping my ideas to add the through: clause would be more sensible. I'm not entirely sure how you envision designing the database structure of the participant class with the auto-incrementing id?

[2017-09-15 00:54] drujensen commented on #59
The migration script for the `participants` table would look like this:
[code]
The naming conventions follows the rails approach for one to many relationships.

The query to find all the rooms where user_id: 1 is a participant would be:
[code]

[2017-09-15 01:06] drujensen commented on #59
Regarding your recipe example, you are correct;  It would not need a Read Only Model which I was proposing.  We could leverage the `through:` clause to get all the ingredients and units for a recipe through the recipe components table and your final example will work.

btw, if you wanted a reverse mapping to find out all the recipes that has a certain ingredient:
[code]

Then you can do something

[2017-09-15 05:26] villzor commented on #59
That would be excellent!

I don't think I'm experienced enough to contribute with this feature, but let me know if I can help out developing some part of it. Really excited to see Granite evolving, it adds a a lot to the Crystal language at large!

[2017-09-15 10:16] darkwinternight opened #60 "Undefined constant Text"
I'm new to Crystal and Granite but when trying the example code, I get:

[code]

I simply created a model with

[code]

[2017-09-15 10:24] c910335 commented on #60
You should use `String` instead of `Text`.

[code]

[2017-09-15 10:25] darkwinternight commented on #60
Thank you! I did that and it is working. However, then the `README` should be changed :)

[2017-09-15 15:09] drujensen commented on #60
@darkwinternight you can use `text` if you also used `TEXT` as your database field.

We should probably document the mapping between Crystal and Mysql fields.

You can find them in the Amber generator templates here:

https://github.com/amberframework/amber/blob/master/src/amber/cli/templates/field.cr#L3

[2017-09-15 15:11] drujensen commented on #60
nm, i take that back.  Your correct, the mapping is still String -> TEXT.  I will update the readme.  thanks for pointing that out.

[2017-09-15 16:20] darkwinternight commented on #60
Thank you! 😄

By the way, it's a great package! It got me started real quick with my first Crystal project!

[2017-09-15 16:20] #60 closed

[2017-09-16 15:09] drujensen commented on #50
@elorest I like your proposal.  We provide a `to_h` method in the model instead.

This will allow you to do a filter/merge/map or other manipulations and then call `to_json` on the hash to deliver it.

For example, to deliver CamelCase, you can do something like this:
[code]

[2017-09-16 15:21] migeorge commented on #50
:+1:

I like that as well now that I think about it. If we want to provide a serialization layer for Amber at some point it should be a separate package.

I can work on this when I have some free time unless someone else wants to pick it up

[2017-09-16 15:24] drujensen commented on #50
Thanks @migeorge.  If you want to pair on it, let me know.

[2017-09-16 15:29] drujensen commented on #50
while we are at it, we can add a convenience method `to_json`:
[code]

[2017-09-16 17:41] faustinoaq commented on #59
Wow, excellent comments, I learnt a lot reading you 👍

[2017-09-17 02:49] drujensen opened #64 "Adding support for named parameters"
Adding support for named parameters to all the drivers.

[code]

[2017-09-17 02:55] drujensen commented on #59
@villzor #63 added support for the `has_many through:` based on this discussion.  Thanks again for opening this issue and using Granite.

[2017-09-17 02:55] #59 closed

[2017-09-17 12:32] eliasjpr opened #65 "Provide JOINS and INCLUDES querying methods and some thoughts"
OPENING FOR DISCUSSION

After reading the QUERYING section of the README https://github.com/amberframework/granite-orm#queries it seems more natural and explicit to have an *includes* and *joins* methods since current approach is implicit on how to use joins.

One of the drawbacks that I see with the current implementation is that the JOIN would have to live with the query was defined making the q

[2017-09-17 18:46] drujensen commented on #65
I was with you until I read your conclusion. The assumption that you need a DSL to support OOP and ActiveRecord design pattern is questionable but...

I am in agreement that providing helper methods to simplify complex joins has value. I'm not yet convinced we should DSL the whole query language into an AREL like language just because. I find SQL is easier to read and understand but I may be in th

[2017-09-18 00:01] eliasjpr commented on #65
@drujensen I have clarified my thoughts. It was not what I mean.

**I had this thought we writing the *ISSUE***

As Per Active Record and OOP if feels like Granite should be more of an ORM mapper than Active Record style. Active Record heavily favors encapsulation to the point where testing without a database is quite difficult. So writing unit tests for Models would require to mock the entire dat

[2017-09-18 02:19] drujensen commented on #65
@eliasjpr Thanks for the clarification.  I agree with your comment regarding Active Record and it's one reason we should be careful not to head down the slippery slope of trying to do too much in Granite.  I also see people tend to put too much logic in their models.   It's easy to break the S in SOLID.

Regarding your question of what is Active Record, an object or a data structure?  It's an obje

[2017-09-19 13:54] drujensen opened #67 "Support Amber Environment Variables"
Currently Granite supports configuring the database_url using 2 methods:

- An environment variable DATABASE_URL
- A `config/database.yml` file

Add a third option that has a priority in between these 2 that will look for an environment setting in Amber.

[2017-09-20 06:34] ansarizafar commented on #50
Named tuple in the field macro is a better option.

[2017-09-20 12:45] drujensen commented on #50
@ansarizafar Care to elaborate? Why is it a better option?

My argument against a named tuple in the field macro is that the field macro will be doing too much stuff.  Not only will it be a mapping for how you map to the database, it will be a mapping on how you serialize.  I'm convinced this is a bad design since it brakes the S in SOLID.

Let us know what your arguments are for using a named tup

[2017-10-10 00:48] mayankjohri opened #69 "How to create tables"
I am not sure about how to create tables using granite-orm and was not able to find the documentation for it.
my code below is producing error: Save Exception: no such table: abc

[code]
Error Message:
Save Exception: no such table: abc
---------------------

[2017-10-10 00:53] danielwestendorf commented on #69
It’s in the wiki, see here https://github.com/amberframework/granite-orm/wiki/Migrations-with-micrate

[2017-10-10 00:53] #69 closed

[2017-10-10 00:56] mayankjohri commented on #69
Thanks a lot

[2017-10-11 12:13] zainul-ma opened #70 "amber db create for TiDB"
Hi , i am new in amber , i try to create migration to use amber with TiDB ,
TiDB is use same protocol with mysql , this is officially staetment from the TiDB

[https://github.com/pingcap/tidb/blob/master/docs/QUICKSTART.md](https://github.com/pingcap/tidb/blob/master/docs/QUICKSTART.md)

but when i try to connect amber with TiDB using mysql configuration (just different port) same with example at

[2017-10-13 15:22] faustinoaq opened #71 "Add support for MSSQL"
Recently I needed support for [MSSQL on Linux](https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-setup)

Some related issues:

- https://github.com/crystal-lang/crystal-db/issues/66
- https://github.com/crystal-community/crystal-libraries-needed/issues/70

[2017-10-17 19:34] #50 closed

[2017-10-18 03:39] aarongodin opened #76 "Model to schema naming conventions"
Coming from ActiveRecord, the Model name to table name convention is great to see. I did notice that there is one difference, and I wanted to bring it up as it was the only difference I saw between Granite's and ActiveRecord's. It can be seen in this error:

[code]

The Rails Guides outline this convention for ActiveRecord:

In this case, you'd expect the schema relation to be called `song_threads

[2017-10-18 13:51] drujensen commented on #76
I agree, we should change this.

We should also look at adding a pluralize helper since adding an `s` is not ideal.  we should just add a couple rules like if the word ends with an `s, ch, sh` then add `es`.  However, we shouldn't go overboard on this and add a custom dictionary of words.  It should be a straightforward predictable algorithm.

[2017-10-21 21:39] Qard opened #80 "Unclear how to do password hashing"
I'm trying to create a user model which I can do something like `User.new({ email: "me@example.com", password: "password" })` and have it transform the "password" input field to a "hash" field in the db that has the hashed password. It's unclear to me exactly how to achieve this with granite.

It seems `User.new(...)` and `user.set_attributes(...)` only accepts values explicitly named with `field`

[2017-10-21 21:54] drujensen commented on #80
Hi @Qard

Take a look at this guide in Amber. https://amberframework.org/guides#recipes/examples/amber-auth-example.md

Let me know if this example is what you are looking for or if you were trying to do something different.

[2017-10-21 22:10] Qard commented on #80
Ah, yep. That's just what I was looking for. Should probably include that in the docs for granite itself though. 👍

Still would be neat to have a way to exclude certain fields from being externally available. Nothing stopping the `encrypted_password` field from being read outside of the model.

[2017-10-21 22:10] #80 closed

[2017-10-22 10:32] eshaiju opened #81 "Save should call validate and fail before saving"
I am very much new to Crystal and Amber. trying to create a basic blog application in amber.  I like to add presence validation in title and body of post model. how can we achieve this?

[code]

[2017-10-25 03:42] coderhs commented on #81
You can mention it inside the DB and access those errors when it fails to save. https://github.com/amberframework/granite-orm#errors

[2017-10-25 05:10] eshaiju commented on #81
@coderhs I am asking about keywords equivalent to **  validates :name, presence: true**. I didn't find any in Doc

[2017-10-25 10:04] coderhs commented on #81
So I just read through the code and I can see that its not properly documented, so thats a good candidate for a PR.

the validation can be added as so:

[code]

But the interesting point to note is that validation is not checked when you run `object.save`, only validations that are checked at that point are the database validation. If you want to check the validations you mention then you need to

[2017-10-28 10:02] marksiemers commented on #76
Regarding the snake case table names - I think that fix is easy:
Here: https://github.com/amberframework/granite-orm/blob/master/src/granite_orm/table.cr#L30
[code]

Regarding dealing with pluralization, I think leveraging an existing library is a good idea: https://github.com/mosop/string_inflection

[2017-10-30 02:22] faustinoaq opened #86 "Allow logging"
Currently Amber shows request and some response information on logs.

[code]

Would be useful to show query data on logs too, just like Rails and Phoenix do:

[code]

@drujensen WDYT?

[2017-10-30 06:08] veelenga commented on #86
Yes, would be nice. But IMO only debug level and we might need to think how to hide sensitive information (passwords for example).

[2017-11-04 14:55] eliasjpr commented on #86
We should wait for the PR to be merge https://github.com/crystal-lang/crystal-db/pull/64 it adds a nice basic API for login. We can then write a method to obfuscate sensitive data.

[2017-11-12 11:07] jhass opened #90 "Numeric casts and PostgreSQL"
crystal-pg returns an `Int32` or `Int64` depending on the actual value size (since PostgreSQL has arbitrary integer precision). Crystal doesn't support upcasting integers, so Granite has to use conversion to convert between different integer types. Normalizing everything to Int64 probably makes the most sense.

[2017-11-12 11:11] jhass opened #91 "Not null fields"
Having to handle `nil` on every field access is a PITA. Support marking fields as not null, or maybe even make that the default and support marking them as nullable. Make the primary key not null by default

[2017-11-12 14:25] drujensen commented on #90
@jhass I thought about only supporting Int64 but there are legacy db's out there that have Int32 fields.  I think its better to support casting in those cases.  It won't cast if it doesn't need too.

[2017-11-12 14:29] drujensen commented on #91
yeah, crystal `.not_nil!` is very annoying.  I wish they chose something like swift using just an `!` or simpler syntax.

I have considered making the mapping more advanced and support `nilable` and other options that db's may support.  It would be an options hash per field.

[2017-11-12 14:30] drujensen commented on #91
closing since this is a duplicate of #57

[2017-11-12 14:30] #91 closed

[2017-11-12 18:21] jhass commented on #90
I have actual `can't cast Int32 to Int64' runtime errors because crystal-pg returns an `Int32` for an `INTEGER` column.

[2017-11-12 18:22] jhass opened #92 "Support non Int64 primary keys"
There are other valid primary key types, such as UUIDs (mapped to `String`)

[2017-11-12 18:30] jhass opened #93 "has_many support foreign keys other than id"
Currently it breaks in `has_many` associations assuming `id`.

[2017-11-16 23:52] robacarp opened #95 "Timestamps should be in UTC, or at least consistent"
Today I noticed this discrepancy with the way times are written to and read from the database:

[code]

[code]

Driver: postgres, but I haven't tested others. I believe the time is going in with a local offset, and being read out assumed in UTC. I'm in MST(-7), so there's a -7 discrepancy.

The fix might be as easy as a `#to_utc` [in a few places here](https://github.com/amberframework/granite-orm

[2017-11-17 05:39] robacarp commented on #95
This formatting string may also be the root cause: https://github.com/amberframework/granite-orm/blob/master/src/granite_orm/fields.cr#L56

[2017-11-18 06:22] robacarp commented on #76
I’d second pulling in a proper inflector. There are undoubtedly times where pedantic inflection is mote confusing to the majority of people (eg Media, Data), but more often than not I appreciated the ease of Rails inflection. In other projects I’ve attempted to live with a cheaper solution and regretted it.

[2017-11-18 19:38] #95 closed

[2017-11-19 04:00] masukomi opened #97 "can't name a column created_at in SQLite"
this is related to #29 but can be handled independently

As long as we don't have support for timestamps in SQLite it shouldn't force created_at to be a `Time` format.

On a related note, if i don't tell granite to use timestamps, it seems silly that it should try and enforce the format of timestamp columns. Yes, it's a bit silly to have "bob" in my `created_at` column, but as I didn't tell granit

[2017-11-19 04:37] masukomi commented on #97
What follows is my solution, for anyone else encountering this, and also a field guide for devs wanting to clean up the handling of created_at and updated_at which are too smart for their own good and incorrectly setting `SETTINGS[:timestamps] = true` when it wasn't called.

monkeypatch `fields.cr` with this and then call it in your model, because if it sees a `created_at` field it's going to beli

[2017-11-19 15:08] drujensen commented on #97
@masukomi thanks for reporting the issue.

The plan is to support the `created_at` and `updated_at` timestamps once someone takes the time to figure it out.  Looking for help on #29.

Regarding the issue of it enabling timestamps even though you didn't specify them, I think that is a bug introduced recently.  There should have been a check for the timestamps flag and it should exclude them as the

[2017-11-19 15:11] #67 closed

[2017-11-21 23:15] infernalmaster opened #98 "Simple localized fields implementation"
So I have:

[code]

Can it be implemented in crystal like macros maybe? If "yes", can someone help me with that?

[2017-11-22 00:56] drujensen commented on #98
hi @infernalmaster  This may be possible with macros but have you considered a slightly different approach of using rows instead of columns to store different languages?
[code]

Your queries would need to include a filter on the `language` but this approach would allow you to add new languages without modifying the schema down the road.

[2017-11-22 00:59] drujensen commented on #98
If you are using standardized i18n language codes i.e. `en`, `it`, you could drop the second model for language and just filter for those instead.

[2017-11-22 01:07] faustinoaq commented on #98
Hi @infernalmaster We have't implemented internationalization yet, but I think you can't use macros for that

Unless locale is available at compile time, so you could so something like:

[code]

But `I18n.locale` is runtime,  right?

So I think you can use something like:

[code]

[2017-11-22 01:33] infernalmaster commented on #98
Hi. Thank you guys for quick response.

@drujensen Nice approach, I think it will cover my needs.

@faustinoaq Yes, `I18n.locale` is runtime variable. `case statement` isn't very flexile, but can be good solution for small project. And I looked at other ORMs and found at docs (https://github.com/imdrasil/jennifer.cr/blob/master/docs/model_mapping.md) of `jennifer.cr` that they have:

method     |

[2017-11-25 22:59] opiation opened #99 "Catch type-casting errors in set_attributes to append to errors"
Currently in `set_attributes`, casting errors simply bubble up making errors potentially ambiguous when creating records with a param hash.

[code]

Results in:
[code]

These errors are not stored in p.errors as this happens before `#valid?` is called.  This means that Post hashes provided to create a new Post must be validated before being sent to Post.new.

Perhaps, `cast_to_field` could rescue

[2017-11-26 16:27] drujensen commented on #99
@opiation This is an excellent point.  Also, save should call validate and return an error or a boolean when it fails now that validation is integrated with granite.

[2017-11-26 16:28] drujensen commented on #99
@opiation Is this something you would like to work on?  if not, @amberframework/granite-orm-contributors anyone want to work on this?

[2017-11-26 16:31] drujensen commented on #97
@masukomi are you interested in working on this?

[2017-11-26 16:38] drujensen commented on #92
@jhass What about adding a secondary unique index for the UUID instead of replacing the existing id?  This is how I usually deal with UUID's or slugs.  Or is this for backward compatibility?

Also, is this something you are interested in working on?

[2017-11-26 16:44] drujensen commented on #98
@infernalmaster No, granite does not have an `attribute` method which is an interesting fix for this problem.  I'm wondering if it would bypass the property get and set methods?

[2017-11-26 17:06] jhass commented on #92
Why should I make it secondary if I want to keep it unique and use as only external and internal identifier? If I don't want predictable IDs to leak the best is to just not have them in the first place.

Unfortunately I'm not sure I can promise to work on this.

[2017-11-26 17:43] infernalmaster commented on #98
I'm new to crystal and investigating about infrastructure if it can replace rails for my task. So I'm doing pet project to find it out. You helped me alot, so you can close this issue. Thank you guys.

[2017-11-26 18:02] villzor commented on #59
Sorry for this late feedback, I missed your comment. I just noticed how this got added to my project when I upgraded my shards, great work and thanks!

[2017-11-26 18:03] drujensen commented on #98
@infernalmaster Thanks for your feedback.  One of our goals is to make the transition from Rails to Amber as seamless as possible.  I'm glad to hear you are working on a pet project.  I hope the transition is not too difficult.  Let us know if you run into anything else that you find difficult.

[2017-11-26 18:03] #98 closed

[2017-11-26 18:10] drujensen commented on #92
Not sure what you mean, you can make multiple unique identifiers.  What is wrong with maintaining ID and UUID?

You can keep the ID as Int64 and add a UUID that is a String and add a before filter to generate a new one on create.  You can add a unique index on the UUID so searching will be fast.  You can perform `find_by :uuid, "some-generated-uuid"` in your controllers instead of using the `find

[2017-11-26 18:37] opiation commented on #99
I believe having `Granite::ORM::Base#save` validate and return a boolean or error would indeed make Granite a little more ActiveRecord-like, though that seems already tracked separately in #81.

As for wanting to work on this, I'll review the contribution guide and my schedule.  In that time however, I welcome anyone to take on the task as I may not have much time in the near future.

[2017-11-26 22:00] jhass commented on #92
I disagree that it's reasonable to maintain two identifiers for the same purpose simply because the ORM lacks functionality.

Having to maintain two identifiers adds enourmous technical debt to the project. I know that I don't want to expose or even really want to use one of them, but does every future developer? Also don't disregard the added uncertainty of what to use in what situation, especial

[2017-11-26 23:08] drujensen commented on #92
ok, thanks for your input.  I can see the duplicate id as being unnecessary overhead.  The complexity is high to allow for different id generators and I'm not completely convinced a secondary is not a good alternative but I can definitely see backward compatibility as being necessary.

If you are interested in helping on this issue, your contributions are welcome.

[2017-11-27 00:07] faustinoaq commented on #92
Maybe we can try to implement something like:

[code]

[2017-12-08 02:48] robacarp commented on #90
Just ran into this because I'd written a migration with a column as an INT instead of a BIGINT.

I think the right solution here is to just do the right thing with any schema. Amber can be opinionated about making all new columns `BIGINT` but that isn't going to stop someone from wiring it up to a pre-existing database.

This is more likely because migrations use micrate, so a dev is manually choo

[2017-12-11 22:35] Maast3r opened #101 "One to One Relationship"
There doesn't seem to be a way currently to have One to One relationship. For example, in Rails, there is:
Class A
has_a :class_b
end

Class B
belongs_to :class_a
end

What is the suggested workaround for now (if there is any)? Just use One to Many relationships to fake a One to One?

[2017-12-22 22:19] robacarp opened #103 "Relations need ability to manually overriding the class, table, foreign_key"
Somewhat pursuant to #76, I'd like to add overrides for the has_many and belongs_to macros which allow a syntax like this:

[code]

[code]

The inability of any sort of inflector to correctly singularize "ip_addresses" means it correctly tries to look for a table called "ip_addresses" but tries to build them into a class called `IPAddresse`. One solution to this is to implement a proper inflector,

[2017-12-24 18:02] drujensen commented on #101
@Maast3r yes, you can use a `has_many` as a work around.

You can also add a method to return the first object:
[code]

Finally, you could write a `macro has_a` inside a `macro inherited` in your base model and then use that instead.

[2017-12-24 19:07] Maast3r commented on #101
Thanks!

[2018-01-02 23:50] robacarp opened #106 "Fields of type Time are not serializable as JSON under Crystal 0.24.1"
As reported by a kind passer-by in IRC, it seems this line no longer works:

[code]

[from fields.cr](https://github.com/amberframework/granite-orm/blob/734cb52de88bb1861684ea0ce10cdab34dd42122/src/granite_orm/fields.cr#L91)

I haven't yet upgraded my machine to crystal 0.24.1, so I haven't verified this bug personally but it seems like the line should have had `"` around the format string in the

[2018-01-03 00:16] robacarp opened #107 "Logic about how to instruct granite to connect to a database is confusing/misleading/out of par with amber core"
I've run into this issue myself but a kind passer-by in IRC was snagged on it too and so I think it needs some attention. This code [from adapter/base.cr](https://github.com/amberframework/granite-orm/blob/734cb52de88bb1861684ea0ce10cdab34dd42122/src/adapter/base.cr#L10-L28) is leading to confusion:

[code]

I don't personally run my development environment in docker and the logic here requires me

[2018-01-03 00:24] drujensen commented on #107
In Amber Core, when you generate a new model, scaffold or migration, an `initializer/granite.cr` will be generated that should set this.

https://github.com/amberframework/amber/blob/master/src/amber/cli/templates/migration/granite/config/initializers/granite.cr.ecr

We left the `config/database.yml` for backward compatibility.

Can you describe how to replicate the issue?

[2018-01-03 00:37] drujensen commented on #103
@robacarp Can you create a PR for this?

[2018-01-03 00:49] robacarp commented on #107
@drujensen that explains why my cobbled and slowly upgraded app had this confusion, but not why a new install generated the error. The only details I have are in gitter/irc, starting here: https://gitter.im/amberframework/amber?at=5a4c1a8c29ec6ac311afbc01

[2018-01-03 01:16] robacarp commented on #103
@drujensen Thanks for looking! I'd love to, but I believe I've come across something that needs to be decided before proceeding. At least, I don't feel I should be the sole decision maker for this problem.

The rails behavior around `has_many through:` is divergent to the granite behavior. I'm not _sure_ the right way to resolve it. Rails reflects on the type of association it's navigating `throug

[2018-01-03 14:58] drujensen commented on #103
@robacarp I vote for option 1

One of the major goals I have for Granite is to keep it simple.  This is why I'm avoiding AREL like DSL for SQL.  Also, I am hoping to keep the macros something that you could easily replace with your own methods.  Nothing that couldn't be done in a couple lines of code.  I want the macros to be simple helpers, nothing more.

One goal that you mentioned above is comp

[2018-01-03 15:01] #106 closed

[2018-01-03 15:04] drujensen commented on #107
@robacarp I think we need to move this generator to the `app` instead of the `migrate`.  That way the initializer exists even if they don't generate a migration, scaffold or model.

[2018-01-03 15:28] robacarp commented on #107
@drujensen I believe that would solve the problem and provide less potential snares for new devs as well.  👍🏻

[2018-01-03 16:07] robacarp commented on #103
@drujensen I hear you. Let me clear something up. I don't think hidden join tables are a good idea, and my experience with the literal `has_and_belongs_to_many` rails provides is similarly sour. I think by using the jargon, I've confused the point (See also option 3).

Of the two situations I'm talking about, neither one relies on a hidden join table. However, they both rely on transparently joini

[2018-01-03 18:22] drujensen commented on #103
@robacarp Thanks for clarifying.  Nice job adding diagrams!  :-)

I was hesitant to add `belongs_to` and `has_many` because I knew it would open this can of worms.  I think my fears were justified.

Without context, it will be difficult to guess what the best query will be.  Should we eagerly load the models into the array?  Should we only load the first 100 rows?  What about the order clause? Is

[2018-01-03 20:40] robacarp commented on #103
I think perhaps what we're demonstrating in this conversation here is that there needs to be a separation of concerns, and perhaps `belongs_to` and friends should live somewhere else?

ActiveRecord, Doctrine, etc all provide an abstraction layer around SQL that makes it easy to build an MVP, but also allow for tuning and optimizing later. Sometimes it's subtly risky to build a scaled application a

[2018-01-03 22:05] drujensen commented on #103
Perhaps.

Yes, however, its a double edged sword.  I think there is a balance between rapid development and production readiness that we need to try and find.

Yes, true. This is where you would refactor and write common base class methods.  If we can find some common methods or macros i.e. `belongs_to` that can be leveraged by the community, we should look at bringing them into the fold. I'm not

[2018-01-04 19:13] robacarp commented on #103
@drujensen I think we agree.

I have a hard time knowing how and where to draw that line. The Jennifer ORM may well swallow the bulk of the expectations that ActiveRecord users would come to the table with, but I was dissuaded by their query syntax. If it doesn't, undoubtedly something will emerge.

Thanks for a good discussion on project perspective and design goals. I don't really know how to mo

[2018-01-04 21:10] drujensen commented on #103
@robacarp Thanks for your help here.  I hope I didn't discourage you too much.  Hopefully we can find that balance.

What do you think of a `query-builder` that can be used with granite? https://github.com/izniburak/query-builder

[2018-01-05 17:42] eliasjpr commented on #76
There is a nice inflector created here https://github.com/luckyframework/lucky_inflector

[2018-01-06 04:31] robacarp commented on #76
@eliasjpr As it stands with Granite, a fair amount of inflection assumptions are made in macros. I think relationships will need a major rewrite out of macro land before any real inflection library can be used. In the interim, I think fully configurable associations such as #103 is a workable solution.

[2018-01-07 01:55] faustinoaq commented on #76
Also crecto has a nice query syntax 👉  https://github.com/Crecto/crecto#query-syntax

[2018-01-10 23:36] robacarp opened #110 "Validator code doesn't seem to work (or isn't documented)"
I'm not sure I understand how validators work. The readme is a mute on the subject, so I set out to do some digging and ran up against a hard wall quickly.

On a fresh project: `amber new test -p sqlite`
with a scaffolded model: `amber generate scaffold user name:string age:integer`

I add code to the user model to get this:

[code]

Compiling the code yields this error:

[code]

Reading the error

[2018-01-11 17:22] faustinoaq commented on #110
I think it should work if you use:

[code]

[2018-01-13 00:39] eliasjpr commented on #76
@robacarp I agree with you on #103

[2018-01-13 23:50] eliasjpr opened #112 "Creating a model with no "real" fields causes amber to fail"
When a model is created with no "real" fields (i.e. when it has only id and timestamps) then some macro doesn't expand to vaild code.

Steps to reproduce:

amber new myapp
crystal src/myapp.cr  <-- works

amber g model mymodel
crystal src/myapp.cr  <-- fails with:

[code]

[2018-01-14 15:09] #86 closed

[2018-01-15 22:57] drujensen opened #115 "Support not nil and default values in mapping"
Look at supporting not nilable types in the mapping.  Also provide default values.

This should modify the generation of the `property field : Type = default` macro generator with parameters provided in the mapping.

[2018-01-16 00:06] robacarp commented on #115
Great! I was looking at the field macro yesterday thinking about how to add a default value

[2018-01-16 01:10] robacarp opened #116 "Save and Destroy should not eat exceptions"
The [#save and #destroy methods](https://github.com/amberframework/granite-orm/blob/master/src/granite_orm/transactions.cr#L35-L41) contain a wide open rescue which eats any exception and prevents the stack trace from being emitted.

Does it make sense to constrain the rescue to a few types emitted by the different drivers and rescue only those, so that errors which happen elsewhere aren't swallow

[2018-01-16 14:53] drujensen commented on #116
@robacarp yes, your right. This should probably only catch DDL exceptions and allow others to fall through.

[2018-01-21 04:25] #107 closed

[2018-01-21 04:31] drujensen commented on #110
@robacarp @faustinoaq is correct.  The instance is passed to the block to be tested.

For Example:
[code]

I will check the docs to make sure this is up to date.

[2018-01-21 04:46] drujensen commented on #110
@robacarp looks like something changed and you can't pass a `do end` block anymore.  As @faustinoaq pointed out, passing a proc seems to work.

[2018-01-21 13:39] faustinoaq commented on #110
@drujensen I was thinking we can move the proc inside of the `macro validate`:

[code]

https://carc.in/#/r/3f7y

WDYT?

[2018-01-22 14:35] #110 closed

[2018-01-26 09:10] blankoworld opened #119 "Add new command "inspect" to inspect an existing database and create corresponding models"
I think it would be very helpful in the future to fetch an existing database schema and create corresponding models.

I saw this kind of functionnality here: https://docs.djangoproject.com/en/2.0/ref/django-admin/#inspectdb

Is that possible to have something similar for next versions?

[2018-01-26 18:06] robacarp commented on #115
@drujensen I did some similar work [here, on mosquito](https://github.com/robacarp/mosquito/blob/master/src/mosquito/queued_job.cr#L14-L34).

The syntax is notably different in the way parameters are generated:

[code]

However this bit of code seems like it could be helpful for this:

[code]

[2018-01-26 19:02] drujensen commented on #115
When I started building granite, I was following the [JSON.mapping()](https://crystal-lang.org/api/0.24.1/JSON.html#mapping%28_properties_%2Cstrict%3Dfalse%29-macro) syntax:
[code]

When they added the `finished` macro, I felt like the `param : String` was a better approach, but I'm open to moving back if it makes things easier.  It would require less macros and would follow the way mappings are d

[2018-01-26 19:14] robacarp commented on #115
Uh, I don't have a preference one way or another. I wasn't trying to suggest changing the DSL, I was just making a note of the fact that the crystal compiler provides a value getter on a TypeDeclaration.

That said, you mentioned the finished macro and that reminded me of this comment:

From: https://github.com/crystal-lang/crystal-book/issues/188

Granite has a lot of code that's generated by the

[2018-01-26 19:21] drujensen commented on #115
@robacarp Right.  I have been through the cycle where they added the `finished` macro thinking that this would be a really nice way to make mappings clean.  I went ahead and converted Granite to use it.  Then the conversation turned that maybe the `finished` macro is not so good of an idea after all.  It does seem kinda a hacky solution on the backend of it.  The user experience however is pretty

[2018-01-27 01:26] robacarp opened #121 "Unable to easily delete has_many without iterating and deleting each"
This pattern isn't ideal:

[code]

Because it causes N delete queries to be executed. It would be nice to have a way to destroy an entire collection in one go. So I tried some SQL:

[code]

This may be a completely unrelated issue, but the [exec and scalar query methods](https://github.com/amberframework/granite-orm/blob/master/src/granite_orm/querying.cr#L95-L105) aren't parameterized on the mode

[2018-01-27 01:29] robacarp opened #122 "Provide something like ActiveRecord::Base.connection.quote"
Hopefully this is buried and salty to use, but I think the ORM should provide it. Especially since this ORM is still developing (as in #121), it would be nice to be able to manually escape a string where no other option exists.

[2018-01-27 09:24] notalex opened #123 "Are STIs supported?"
Crystal's `inherited` hook is called even when inheriting child is inherited. So when we have an STI model like so, the inherited hook is called twice.

[code]
In Granite, the `validators.cr` uses the inherited hook to define `@@validators`.
[code]
However when we define a new child model, granite tries to create `@@validators` again and fails because Crystal cannot reinitialize a class var.

Is t

[2018-01-27 10:36] drujensen commented on #123
@notalex yes.  @faustinoaq fixed this in his last PR. 🥇   We removed the class var.  I will release Granite soon or you can try the master branch.

[2018-01-27 10:52] drujensen commented on #119
@blankoworld this would be more suited for Amber or a CLI tool.  We are looking into providing the ability to add custom generators to Amber.  This would be an awesome tool to quickly reverse any database into a set of models.

In theory, you could also build a whole scaffolding or admin application with this approach.  Just give the tool the list of tables and it will scaffold out the whole thing

[2018-01-27 11:57] notalex commented on #123
Thanks. The latest master fixes the mentioned problem. To make STI work, the inheriting table needs to redefine the fields again.

[2018-01-27 12:18] notalex commented on #123
Thanks. The latest master fixes the mentioned problem.

Note: To make STI work, every STI child needs to redefine `field` attributes.

[2018-01-27 15:37] eliasjpr commented on #115
I like the consistency of the `DB.mapping` resembles the `JSON.mapping`, but  I also like the idea of declaring the db mapping as such.

[code]

Something like above opens a world of flexibility, where we can generate `migrations`  based on the DB.mapping definitions, if the mapping changes it generates a new migration altering the table. Something I used to enjoy a lot from Java Hibernate ORM and

[2018-01-27 16:55] #99 closed

[2018-01-27 17:15] #116 closed

[2018-01-27 17:47] #112 closed

[2018-01-27 17:48] #81 closed

[2018-01-27 19:35] drujensen opened #129 "Fix pluralization issues with relationships"
Look into integration of an inflector: https://github.com/luckyframework/lucky_inflector

EDIT:
I think I agree with @shayneoneill that this is one feature in rails that creates a lot of pain.

I think a better solution is to default to singular but allow for overriding the name so:
[code]

This would use the `Car` class and default to `car_id`.

If someone wanted to use the plural form:
[code]

Y

[2018-01-27 19:37] drujensen commented on #76
Opening a new ticket #129 regarding the inflector

[2018-01-27 19:37] #76 closed

[2018-01-27 21:33] drujensen commented on #122
@robacarp will this work for you or do you think we still need the `quote` capability?

[2018-01-28 23:50] robacarp commented on #122
I think Granite should still have quote capability. That kind of depth is the right amount of depth though because it should be raising flags of warning when used. `Model.adapter.database.quote "string"` is at least [salty enough](http://catb.org/jargon/html/S/syntactic-salt.html) to be noticed by code reviewers and to cause a bit of rethinking by developers.

It's hopefully not _common_ but I hav

[2018-01-30 16:30] blankoworld commented on #119
Yes the "inspectdb" is a really helpful tool!

By talking about Amber or a CLI tool, do you mean I need to create a ticket on another tool?

As I need this kind of tool, I will really appreciate to follow the project that will plan to add it ^_^

[2018-01-30 16:45] drujensen commented on #119
@blankoworld yeah, so we have a CLI tool in Amber for generating code.  This would be in that code base found [here](https://github.com/amberframework/amber/tree/master/src/amber/cli)

We could add a new command, something like `amber inspectdb User Post Comment` that would connect to the database, look for these tables, inspect the fields and types, and then generate the scaffolding from them.

W

[2018-01-31 19:16] blankoworld commented on #119
As I created a ticket on Amber about this kind of command, I close this ticket and hope someone will be interested in this kind of enhancement ^_^.

Thank you for your help to redirect me to the right place and have fun with granite-orm ;)

[2018-01-31 19:16] #119 closed

[2018-01-31 21:16] olegsobchuk opened #134 "associations error undefined method"
Hi!

I'm trying `amber` with `granite-orm`. I created new app with relation `Company` -> `has_many users`, and `User` `belongs_to company`. I created records with pg console and tried to check result via `amber x`
[code]
returns

[code]

for `belongs_to` the same

Thanks.

**EDIT**

versions:
amber 0.6.4
granite_orm 0.8.4

[2018-01-31 21:32] drujensen commented on #134
Hi @olegsobchuk

The call to `Company.first` will return a union type of (Company | Nil).  You will need to check to see  if its Nil before calling `users` since Nil doesn't have a method called `users.

[code]

Crystal will see that company is not nil in the if block and will remove the Nil from the Union Type.

[2018-02-01 07:08] #134 closed

[2018-02-01 12:44] faustinoaq commented on #134
Another alternative is using [.try](https://devdocs.io/crystal/api/0.24.1/object#try%28%26block%29-instance-method): `Company.first.try(&.users)`

[2018-02-03 14:16] damianham commented on #97
fix proposed in https://github.com/amberframework/granite-orm/pull/135

[2018-02-03 14:17] damianham commented on #29
fix proposed in https://github.com/amberframework/granite-orm/pull/135 (for timestamps)

[2018-02-05 14:20] drujensen opened #136 "Support Custom Types"
Allow someone to provide a custom type.  Provide a mechanism to convert the type to/from the database type.

[code]

Check to see if the type is a custom type and call the appropriate methods during storage and retrieval from the db.

[2018-02-05 14:22] eliasjpr commented on #136
Thought: Maybe this can be part of the field definition where you can specify the db type and the class type

[2018-02-06 05:46] drujensen commented on #136
Yes, absolutely.

[code]

[2018-02-12 23:02] robacarp opened #140 "Performance Spec"
It would be really helpful when changing the adapters if a performance specification could easily indicate when performance is getting markedly worse. #139 for example.

[2018-02-14 19:03] lebogan opened #141 "Granite debug output"
I am writing a simple cli maintenance logger using the granite-orm, sqlite3, crystal 0.24.1 on a Fedora vagrant box. After micrating, seeding, and setting my model:
[code]
Since I'm not printing anything, I expect a blank screen. Instead I get:
[code]
What is printing this ,I guess, debug sql statement and can I suppress it?

Thanks for your help.

[2018-02-14 21:07] faustinoaq commented on #141
Hi @lebogan We added Granite logs to integrate this shard with [Amber logs](https://github.com/amberframework/amber/blob/master/src/amber/cli/templates/app/config/initializers/database.cr.ecr#L5)

Try this:

[code]

See: https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Crystal/amber/config/initializers/database.cr#L3

[2018-02-15 16:27] maiha opened #143 "Set the primary key to a new record"
We can set **the primary key** for a new record on Rails(5), but can't on Granite.

- Rails(5) : can create a new record with id=1
[code]

- Granite : creates a new record with max id
[code]

Although we can set `id` by using **setter** rather than **mass assignment**, **UPDATE** is executed even if it is a new record. In this case, `save` succeeds but no new records will be created.

[code]

I li

[2018-02-15 16:39] drujensen commented on #143
If the database column for the primary key is SERIAL, I don't think you should manually insert your own ID into the field.  You will get out of wack pretty quickly doing that.

Can you explain your use case?  Is your primary key using SERIAL?

[2018-02-15 17:05] maiha commented on #143
Yep. There are two use cases.

1) using natural keys
2) manual seeding data with specified ids for some reasons

Here, I'm now facing the former problem. And I've already supported **natural keys** in my fork. It works with `READ` and `UPDATE` but not with `INSERT` because it seems granite doesn't respect new record well as I said in this issue.
https://github.com/maiha/granite-orm/tree/natural-ke

[2018-02-15 20:06] lebogan commented on #141
That worked. Thank you.

[2018-02-15 20:06] #141 closed

[2018-02-15 20:17] drujensen commented on #143
@maiha Your solution is what was recommended by @faustinoaq .  I think its a good start.  Go ahead and submit a PR.  We will get your changes merged.  Thanks.

[2018-02-15 21:24] lebogan opened #145 "Can't delete a record: undefined method 'destroy' for Nil?"
I'm using crystal 0.24.1 and granite-orm with sqlite3. The first part does indeed find the database record by id. I can print it but not delete it?. The rest of the error says 'compile-time type is (Database::Memo | Nil)?
[code]
Maybe seniors shouldn't play with their kid's toys:)

[2018-02-15 21:54] lebogan commented on #145
Update on my previous post. If I enclose the destroy method in an if clause, it compiles and actually works?
[code]

[2018-02-15 22:27] drujensen commented on #145
@lebogan Memo.find will return a union type of `(Memo | Nil)`.  The thing is, the next call was `memo.destroy` and since the return type could be Nil, it will fail to compile.

Crystal has this cool feature that if you do an `if memo`, it will remove the Nil from the union in the if block, so the only thing left is a (Memo) type in the union.  Since the Memo class has a `destroy` method, then it c

[2018-02-16 01:38] lebogan commented on #145
@drujensen  Thank you so much for that explanation.

[2018-02-16 01:38] #145 closed

[2018-02-18 21:04] robacarp opened #148 "Support ISO 8601 datetime formats"
Many languages have some aspect of the ISO standard for date formatting built in. It would be nice to use that to make interoperability across APIs easier.

See  https://github.com/amberframework/amber/pull/649#discussion_r168944261

[2018-02-20 10:12] docelic opened #149 "Incorrect quoting, preventing Pg schema specification"
In one of recent commits, quoted_table_name was introduced.

This breaks functionality if table name contains a Pg schema name like schemaname.tablename.

quoted_table_name() quotes both inside double quotes to produce "schemaname.tablename", while the proper way to quote is "schemaname"."tablename".

The source of the problem is probably this function:

[code]

[2018-02-20 10:13] docelic commented on #149
@maiha mentioning you here since it seems relevant.

[2018-02-20 13:26] maiha commented on #149
Nice! It's a bug I've created. I'll create a PR soon.

[2018-02-20 15:48] robacarp commented on #149
Since there's an open pull, I'm locking this issue to prevent forking the discussion. See #150 as referenced above by the github bots.

[2018-02-22 17:54] maiha opened #151 "question: Is `ORM` needed?"
Hi all, I'm simply wondering why it's named as `Granite::ORM::Base`.
For example, ActiveRecord is quite natural.
- `ActiveRecord::Base`  # base
- `ActiveRecord::ConnectionAdapters::PostgreSQLAdapter` # and its adapters

In Granite
- `Granite::ORM::Base`
- `Granite::Adapters::Pg`

I prefer shorter naming like `Granite::Base`.
[code]
Furthermore, I prefer `granite` for the repository name if there a

[2018-02-22 23:14] maiha opened #152 "Support Adapter-specific types"
Using DB-specific type

[code]

causes

[code]

#### status
- ✅ MySQL supports `time` type
- ✅ `mysql` shard supports `time` type as `Time::Span`
- ✅ `crystal-db` shard can handle any custom types.  (see [example](https://github.com/crystal-lang/crystal-db/blob/master/spec/custom_drivers_types_spec.cr#L97-L98))
- ❌ Granite supports only `DB::Any`

#### codes

Currently, we use `DB::Any` statically

[2018-02-23 15:39] robacarp commented on #152
Here's what I've been imagining.

Granite needs a bit of a refactor in the DSL, and I think @drujensen and I both want to land in a place like this:

[code]

I was musing the other night about how important it is for each part of this to be override-able. Custom data types are going to be added over time and in order for Granite not to be handicapping when someone wants to use something like Mysql

[2018-03-10 01:04] Blacksmoke16 opened #155 "Inserting row using MySQL and custom primary key"
I am encountering an issue where I cannot insert a new record into a table using a custom primary key.

Model
[code]

MySQL Table
[code]

Query
[code]

When executing this query i get this error:
[code]

If i change the model type to Int32 the query runs but does an update instead, which does nothing.
[code]

[2018-03-11 03:09] Blacksmoke16 opened #156 "Ability to bulk import array of models"
# Use case:
Use from_json or from_yaml to produce an array of db models.  Currently (afaik) the only way to import them all is to iterate through the array and call `.save` on each model, which causes an INSERT statement to be executed for each record.

An `.import` or something similar method on the array would create a few transactions to bulk insert a few thousand records at a time.

See https:

[2018-03-11 20:23] Blacksmoke16 commented on #156
A workaround until a better solution is implemented

[code]

Also need a `values` model method
[code]

[2018-03-11 22:54] danielwestendorf opened #157 "Database defined NOT NULL + DEFAULT value"
I'm trying to create a column which is a database generated UUID default value, however, I can't seem to get this working.

What I expect to happen is that when I create a record without specifying a value for the column in question. After the record is saved the the column in question will have a UUID value.

[code]

[code]

[code]

This results in `null value in column "api_key" violates not-nul

[2018-03-12 16:25] robacarp commented on #156
@Blacksmoke16 aside from monkeypatching Array, this seems like it's worth fleshing out. The recently added [Adapter&quote](https://github.com/amberframework/granite-orm/blob/master/src/adapter/base.cr#L66-L69) method should help.

I think it's probably best to avoid doing any polymorphism and instead require the array to be single-model only, so that the table name isn't part of the data.

[2018-03-12 16:30] robacarp commented on #155
To get around the `with type Int32`, you can specify your id as `9999_i64`.

However, right now the implementation in Granite decides if the query should be an update or an insert by [evaluating the primary key](https://github.com/amberframework/granite-orm/blob/master/src/granite_orm/transactions.cr#L17) for nilness, making natural keys incompatible with the current implementation.

[2018-03-12 16:47] Blacksmoke16 commented on #156
For sure, this sped up importing for me from a good while to like 30sec.

I'll have to check that out.  Current issue i found with my quick monkeypatch is working with null values, it quotes them so it doesn't know what to do when going to run the INSERT.  Shouldn't be a major issue to fix.  Requiring the array to be of a single model would be fine.  Simple and effective to start off would be best

[2018-03-12 16:49] Blacksmoke16 commented on #155
I'll give that a try thanks.

[2018-03-17 21:54] faustinoaq opened #158 "Support query syntax"
Granite should support query syntax as well like this:

[code]

[2018-03-17 22:01] faustinoaq opened #159 "Add spec for from_sql, and a big mock for the DB class"
Missing specs here

[2018-03-17 22:08] faustinoaq opened #160 "Add belongs_to custom type support"
We should allow to specify a custom name and type for the `belongs_to` foreign key.

_Use case:_ backward compatibility with a rails project that has Int(11) in mysql.

[2018-03-17 22:15] faustinoaq opened #161 "Add record statuses about persistence"
Add these methods to a record: `new_record?`, `destroyed?`, `persisted?`

| code         | new_record?           | destroyed?            | persisted?            |
|--------------|-----------------------|-----------------------|-----------------------|
| User.new     | :white_check_mark:    | :white_large_square: | :white_large_square:    |
| user.save    | :white_large_square: | :white_large_squar

[2018-03-17 22:20] faustinoaq commented on #122
Is this already being fixed by #150 ? or duplicate of #149 ?

[2018-03-17 22:22] #161 closed

[2018-03-17 22:25] faustinoaq opened #162 "Add spec for callbacks"
https://github.com/amberframework/granite-orm/pull/153#discussion_r170689455

[2018-03-21 06:04] yumoose opened #163 "Support for fixtures"
It would be great to have fixture support (similar to Rails' ActiveRecord::Fixtures) that allows for clean spec setup and scenarios.

[2018-03-21 16:13] robacarp commented on #163
@yumoose thanks for the suggestion.

Until Granite/Amber gets a solution to this, I'd like to propose a solution to this problem which is reasonably easy to configure and extend, and doesn't obfuscate quite like fixtures do.

Create a class called `Generate` which contains a few class methods which can be used as helpers to quickly generate model instances:

[code]

Require this in your test helpe

[2018-03-26 04:00] Blacksmoke16 commented on #143
Any update on this?  Having support for natural keys is pretty important in my use cases.

[2018-03-26 04:15] Blacksmoke16 commented on #155
That worked thanks!
[code]

However it seems #143 would be very helpful to do the create statement in one line, versus having to set the primary key separately.

[2018-03-26 04:15] #155 closed

[2018-03-26 04:40] faustinoaq commented on #143
^ @Blacksmoke16 see more: https://github.com/amberframework/granite-orm/pull/153

[2018-03-26 10:02] maiha commented on #143
@Blacksmoke16
It seems that it takes time to merge at this repository.
FYI: So, I am using my fork and natural-key is working in amber-0.6.7 with the fork.
[code]

[2018-03-26 15:01] drujensen commented on #143
@maiha is this still a WIP?

[2018-03-26 19:43] maiha commented on #143
No. I've completed in my fork.
But since this depends on #154 , I'm waiting for it to be merged first. 😄

[2018-03-27 19:31] Xosmond commented on #81
So there is not basic validations implemented ?

[2018-03-27 21:02] drujensen commented on #81
@Xosmond This was fixed in #127

[2018-03-27 23:35] #162 closed

[2018-03-28 03:24] #160 closed

[2018-03-28 03:27] drujensen commented on #151
I am fine with this change and agree that ORM is not needed.  We will either need to make it backward compatible or coordinate closely with amber cli so the templates are updated with the correct major version change.

[2018-03-28 03:30] drujensen commented on #152
This is a much needed update.  @robacarp @maiha would either of you have time to work on this?

[2018-03-28 03:33] drujensen commented on #92
This has been addressed by #166

[2018-03-28 03:33] #92 closed

[2018-03-28 03:33] #29 closed

[2018-03-28 03:34] drujensen commented on #90
You can specify custom primary keys now.

[2018-03-28 03:34] #90 closed

[2018-03-28 03:37] drujensen commented on #97
Issue resolved in #135

[2018-03-28 03:37] #97 closed

[2018-03-28 03:40] drujensen commented on #157
#166 Supporting Natural Keys allows you to disable auto incrementing.  This will allow you to set your own key.

[2018-03-28 03:40] #157 closed

[2018-03-28 05:00] Blacksmoke16 commented on #156
I been messing with this for a bit wanted to see what your thoughts are on this in regards to the best way to implement it.

As of now, unless you guys have a better idea, I added a new class level method to the `Transactions` class, `self.import(models)`, that takes an array of models as a param.  It then constructs the initial `INSERT INTO TABLE_NAME (LIST_OF_FIELDS) VALUES ` then loops over the

[2018-03-28 05:20] elorest commented on #156
Usually this sort of mass import is better as "LOAD DATA IN FILE" with csv or just one big sequel statement. Not sure if this is something that should be part of the ORM or not.

[2018-03-28 13:29] robacarp commented on #156
@blacksmoke16 your approach sounds fine to me. I would put a type filter on the import function to let crystal throw an error if the wrong model army was tried.

As for your statement construction, I’m not sure. If you’re open to submitting a pull request, I’d be happy to take a look.

As @elorest said, some people do huge imports by sql file, but I think there is room for this type of import as w

[2018-03-28 15:03] Blacksmoke16 commented on #156
Sure, i'll prob have a PR for this weekend.

[2018-03-29 05:02] maiha commented on #152
Yes, I am interested in this. However, I think that it will take a few months, and it will be a big change including the adapter. The specification I want is clear, but implementation requires many trial and error.

This is because implementations dealing with types often collide with Crystal language restrictions and barriers. In addition, there are cases in which the specification itself is chan

[2018-03-29 17:44] robacarp commented on #151
I agree, but changing the repo name is kind of painful because it breaks all builds generated with the old repository name.

[2018-03-30 03:15] maiha commented on #151
How about making a new repository named `granite` while leaving` granite-orm`?
- `granite-orm` : exists for old applications, but should be readonly (no more issues and pr)
- `granite` : a new repository used from the next version of amber like `v0.7`

Since there are only 2 bug issues and 3 PRs, I think that it is a good opportunity to execute now. 😺

[2018-03-30 15:01] eliasjpr commented on #151
What about `Granite::Model` instead of `Granite::Base`

[code]

[2018-03-30 15:55] faustinoaq commented on #151
I think that's not a problem, github still redirects it for some time and amber is not v1.0.0 yet

I propose to change this repo name

BTW, I like `Granite::Model` as well :+1:

[2018-03-30 20:59] robacarp commented on #151
I know Amber isn't 1.0 yet, but I don't think we should be in the habit of abandoning users. The redirect is actually going to make things worse because it stays around long enough for everyone to forget that the old one ever existed and when things break, it's harder to find out what happened.

If we want to change the name of the repo, here are the steps I'd recommend following:

- Renaming this

[2018-03-30 21:01] faustinoaq commented on #151
@robacarp I agree, you proposal is very nice :+1:

[2018-03-30 23:06] Blacksmoke16 opened #170 "Error with normal constructor with JSON.mapping"
Initializing a new Granite model using Model.new(args), with a JSON.mapping in the model does not work.

[code]

Doing `Item.new(type_id: 1, type_name: "item1")` produces:

[code]

The error can be corrected by adding `def initialize(@type_id, @type_name) end` but that seems not ideal.

It would be even better if the defining of the fields/primary using granite notation would also allow for `Model

[2018-03-31 00:31] drujensen commented on #170
@Blacksmoke16 We added support for `to_h` and `to_json` so you wouldn't need to provide the mapping.  Does this satisfy your request or do you need the JSON mapping for other reasons?

https://github.com/amberframework/granite-orm/blob/master/src/granite_orm/fields.cr#L94

[2018-03-31 00:34] Blacksmoke16 commented on #170
Not quite.  I am referring to going the other way.  FROM a json string, TO a Granite model object.

[2018-03-31 01:46] drujensen commented on #170
The constructor supports a Hash(String, JSON::Type)

https://github.com/amberframework/granite-orm/blob/master/src/granite_orm/base.cr#L36

Can you try `Model.new(json.to_h)`?

[2018-03-31 02:05] Blacksmoke16 commented on #170
I can't seem to get the data into that format of a Hash.
[code]
All seem to produce the `no overload matches...`

Unless im missing how to get the NamedTuple/Hash/JSON whatever to that format...

[2018-03-31 16:51] faustinoaq commented on #57
Is this issue already fixed?

[2018-03-31 17:21] drujensen commented on #170
@Blacksmoke16 yeah, ok. I tried several things as well with no success. It's expecting `JSON::Any` which we should support to make API's easier to deal with.

[2018-03-31 17:38] drujensen commented on #57
Yes, they are.  closing this issue.  Thanks @faustinoaq.

[2018-03-31 17:38] #57 closed

[2018-03-31 17:45] drujensen commented on #158
#132 is in progress

[2018-03-31 17:48] drujensen commented on #149
@robacarp do you have a recommendation on how to address this issue?

[2018-03-31 17:51] drujensen commented on #122
Closing this issue.

[2018-03-31 17:51] #122 closed

[2018-03-31 23:09] faustinoaq commented on #151
@drujensen I really like the @robacarp proposal, I think it would do no harm, because the `granite-orm` repo will still be available, and this repo will be renamed to a simple name `granite` preserving issues, PR and more.

So, Can you change the name and create `granite-orm` in archive mode, following the steps mentioned above?

WDYT? :sweat_smile:

[2018-04-01 03:44] drujensen commented on #151
@robacarp Excellent proposal.  👍

I will rename the repository now but let's hold off on the archived `granite-orm` repo until we get the current three/four PR's merged.

[2018-04-02 08:50] faustinoaq opened #174 "Create UUID spec"
With the latest release, you can now specify the `primary uuid : String, auto: false` and then add a `before_create` hook to generate the `uuid`.

Should be good to have a spec testing this :+1:

See related comment: https://github.com/amberframework/granite/pull/164#issuecomment-377617820

[2018-04-02 16:43] robacarp commented on #151
Thanks for renaming the repository, I think that paves the way for improvements. I'm going to go ahead and created "the old" granite repo again as `granite-orm` and pushed code up to it. Without it, I think a lot of builds are broken. Any pull requests which are merged here that we want to push to the old repo can be done with some simple git.

[2018-04-02 16:45] drujensen commented on #151
No, I don't think old builds are broken until we create the repository.  They should still work, right?

[2018-04-02 17:28] robacarp commented on #149
I can think of a couple things:

1. Provide a method called `quoted_table_name` which does the right thing for most use cases, but can be overridden in models if a developer is using a namespaced table
1. Provide a method called `quote_table_name` which simply looks for a period and divides the string if needed, then calls `quote` on the appropriate parts.

[2018-04-02 17:35] robacarp commented on #151
@drujensen Dang, you're right. It would have. I forgot about the github redirect. I've already created the -orm repo and pushed the latest 0.9.1 code to it, so I'm sure the redirect is dead now.

I've been a little paranoid in this thread because I wasted a day or so a couple weeks ago when the github redirect pointing to Garnet from amber-spec or something died and my app wouldn't install shards

[2018-04-07 00:39] Blacksmoke16 opened #177 "MySql::ResultSet#read returned a Int32. A (Int64 | Nil) was expected. (Exception)"
Happens on latest amberframework/granite version

Example table:

items
[code]

item.cr
[code]

app.cr
[code]

error
[code]

[2018-04-07 00:43] Blacksmoke16 commented on #177
NVM, wasn't using BIGINT on id column

[2018-04-07 00:43] #177 closed

[2018-04-08 17:27] girng opened #178 "/usr/bin/ld: cannot find -lyaml"
just followed tutorial

fresh installation
and added
[code]

to my project. and added config/database.yml and filled it out to my root directory.

but whenever i run my crystal app, i get:

[code]

what am i doingwrong? any idea? i'm on Windows 10 WSL btw

[2018-04-08 17:44] girng commented on #178
# solution

From IRC (bridge bot)
@FromIRC
10:39
<oprypin> @girng, install libyaml-dev
<oprypin> @girng, https://github.com/crystal-lang/crystal/wiki/All-required-libraries#ubuntu

@oprypin, thank you sir

[2018-04-08 17:44] #178 closed

[2018-04-08 17:44] faustinoaq commented on #178
Hi @girng You should install `libyaml-dev` in your WSL

Ref: https://github.com/crystal-lang/crystal/wiki/All-required-libraries#ubuntu

[2018-04-08 19:57] yorci opened #179 "Need support for singular related tables names"
this is not flexible for **non-english** table names, need to optimized. I suggest to overload that macros with multiple parameter like "Eloquent ORM", table name, local key, foreign key also can be pivot table name for many to many.

I tried some changes but my knowledge of crystal is not enough yet for macros :)

https://github.com/amberframework/granite/blob/3cae4126a1d4d1b3e683296a4f8f95038268

[2018-04-08 20:02] faustinoaq commented on #179
Related comment here: https://github.com/amberframework/amber/pull/673#issuecomment-370534213

[2018-04-10 00:14] Blacksmoke16 opened #180 "Clarify usage of database_url string"
1.  Add to readme that you can use `Granite::ORM.settings.database_url = "mysql://username:password@hostname:3306/database"` in code instead of ENV variable or the yaml file if so desired.

2.  Make a note it must be set **before** any models are declared (in the case of a single file).

[2018-04-10 01:53] robacarp commented on #180
Someone mentioned in the gitter and I agree, I don’t think Granite should be responsible for reading config files or environment variables anymore. Granite as a library should only care to receive its connection information via its config interface.

[2018-04-10 01:56] Blacksmoke16 commented on #180
Wouldn't hurt to have it setup more like AR was in Ruby, where you can define different databases based on ENV, but general config was all in the yaml file.

[2018-04-10 02:45] robacarp commented on #180
It seems like reading the ENV/config are outside the bounds of this library though, and should be handled by Amber (or whatever application is using Granite).

[2018-04-10 04:06] elorest commented on #180
We do have conf files within amber for this. :)

[2018-04-10 19:51] Blacksmoke16 commented on #180
I been thinking of this, here are my thoughts.

Granite should decide upon one format for supplying a connection, such as `Granite::ORM.settings.database_url =  xxx`, or like Granite::ORM.Settings.new(host, port, db, ...) or what have you.  Granite should accept this format for defining which db should be used for the queries.

Whatever application/framework you are using can have their own method

[2018-04-11 00:12] drujensen commented on #180
Just to give some background, Granite was originally built in Kemalyst and the configuration was read from the `config/database.yml`.  When we migrated to Amber, we decided to include the database configuration in the environment (which totally makes sense) but I left the older style for people that was still using it.

We can deprecate the `config/database.yml` and reading the environment stuff

[2018-04-19 15:23] eliasjpr opened #182 "Should Granite have a built in Migrator?"
Given this PR https://github.com/amberframework/granite/pull/172 and https://github.com/amberframework/granite/pull/168 which as basic support for table migration and bulk import, I have been wondering if Granite should fully support migrations?

[code]

I think is time :)

Open implementation detail discussion

[2018-04-19 15:30] drujensen commented on #182
@eliasjpr Granite actually did have this but it was impossible to know the intent of the developer so we removed in favor of micrate.

An example is renaming a column in the db.  You can create a new column but the old one should not be removed until the data is migrated.

The technique I used when I built this what that the migrations were always additive unless you included a flag to perform a c

[2018-04-19 16:11] faustinoaq commented on #182
Well, I think a migration system using crystal is a bit overloaded since crystal is compiled and not an scripting language, so every time you need to run a migration action you would need to compile it first :sweat_smile:

Currently, I just edit the SQL and run `bin/amber db migrate` without requiring crystal compiler

So, by example, If I want to execute migrations in Heroku, and I want to change

[2018-04-24 19:13] noahlh opened #184 "Support for raw SQL queries"
Proposal for discussion:

One of the things I really like about Granite is the philosophy that you should be able to get into the nitty gritty of SQL and let the ORM handle only the task of mapping the results to the object.  The `all` method does a great job of this.

**I'd like to propose abstracting one level further and adding a method called `sql` (or maybe `raw`?) which allows a full SQL que

[2018-04-24 19:31] drujensen commented on #184
@noahlh this is something I have been wanting to add. I recommend adding a new base class that is a View Only object and supports a select that provides a mapping to the fields.  A view model.

This is a common pattern that will support any type of results including aggregate group by results like count.

We would remove the transactional module to remove save and delete from the object.

Let me k

[2018-04-26 02:51] noahlh commented on #184
@drujensen I'm punching slightly above my weight class here so apologies if any of this is malformed, as it were.

So are you suggesting something like a new `Granite::ORM::Viewmodel` that sits alongside `Granite::ORM::Base`?  And users would have to choose between the two when creating a new class depending on the functionality needed?

(replying to your other comment shortly)

[2018-04-26 02:59] noahlh commented on #184
That's a very clever idea -- I like it a lot.  The only limitation I see is that it (effectively) restricts you to one alternate SELECT per model, but I suppose that's probably a good thing?  If you're getting into multiple different methods of populating a given model, you probably need multiple models.  Or, perhaps building on what you suggested -- a View Model that sits between the Base model.

[2018-04-26 03:46] Blacksmoke16 commented on #156
This can be marked as done now that #168 is merged.

[2018-04-26 03:46] #156 closed

[2018-04-26 06:29] faustinoaq commented on #184
Isn't `select` a reserved crystal word?

[code]

[See crystal keywords](https://github.com/crystal-lang/crystal/wiki/Crystal-for-Rubyists#available-keywords)

[2018-04-27 03:05] Blacksmoke16 opened #185 "Support callbacks on bulk imports"
Now that #168 is merged we need to revisit how to best implement callback support for this method.

The issue i was experiencing is when i call `__run_before_create`, since the import method is a class method, it does not have access to the instance methods.

I wanted to get this issue made to see if anyone more familiar with the callbacks had any clever ideas for this.

Otherwise the idea i came

[2018-04-27 13:45] drujensen commented on #185
I think we should just document it that import is using SQL INSERT statement and that instances are not instantiated, so the callbacks will not happen.  If you need callbacks then its best to iteratively create instances and call `.save`.

We should also document that the import may have a limitation on size of the SQL statement so batching the imports is recommended in that case.

[2018-04-27 22:14] #158 closed

[2018-04-27 22:16] robacarp opened #188 "[query dsl] add support for mysql"
The query assembler for mysql needs to be ported over [from postgres](https://github.com/amberframework/granite/blob/master/src/granite_orm/query/assemblers/postgresql.cr)

[2018-04-27 22:17] robacarp opened #189 "[query dsl] add support for sqlite"
The query assembler for sqlite needs to be ported over [from postgres](https://github.com/amberframework/granite/blob/master/src/granite_orm/query/assemblers/postgresql.cr)

[2018-04-30 14:34] Blacksmoke16 commented on #185
That would be one option.  However it would be nice for the option to exist.

For example my use case is me importing data from a json api into an array of models.  Each model has a `correct` property if the courier's reward is correct (based on my current pricing).  It would be much more efficient to run a quick loop to set the instance variables in a before_import than it would to save each mode

[2018-05-03 21:17] Blacksmoke16 opened #190 "[Bulk Imports] Ability to specify batch size"
Adding this issue for tracking purposes.

Basic will add a new optional param to the import method that determines the number of records to import in one INSERT statement.  Plan is to default it to the size of the model array, i.e. only 1 INSERT statement.

Will have PR for this prob this weekend.

[2018-05-05 22:16] Blacksmoke16 commented on #170
I did find a workaround for this.  Can define a json mapping and call `from_json` on your model as opposed to using new or create.

However native support of Model.create(json) would be pretty slick, espcially since the JSON mapping is pretty much a duplicate of the fields mapping.

item.cr
[code]

app.cr
[code]
[code]

[2018-05-09 00:34] Blacksmoke16 opened #193 "Support MySQL JSON data type"
Granite, as far as I can tell, does not support MySQL JSON data type.

[code]

[code]
[code]

[code]
It will work if i set the column type as text and field type as a string, parse the string as json, but ideally granite should return JSON::Any already without that extra step.

[2018-05-09 00:56] Blacksmoke16 commented on #185
More i been thinking about this the more i agree with @drujensen to not include them by default.  The best solution to this is for the user to manually run their callback functions on the array.

Example:

[code]
[code]
This way errors can be handled correctly, as defined by the user, as opposed to either failing the whole import or only importing a subset of the records.

[2018-05-09 00:56] #185 closed

[2018-05-09 18:47] Blacksmoke16 commented on #190
@faustinoaq Can remove WIP this has been ready for review.

[2018-05-09 18:48] Blacksmoke16 commented on #174
@faustinoaq This one is also in review stage.

[2018-05-09 19:09] Blacksmoke16 commented on #180
@robacarp @drujensen @faustinoaq

I'm thinking this will be my next PR, after some of my current ones are merged/closed so that I dont get into branch soup.

My plan for this is to deprecate the ENV and .yml config options in favor of Granite::ORM.settings.database_url = xxx`.  First by removing their implementations, but keeping the logic that accepts them in the base.cr adapter.  If the `Granite

[2018-05-10 00:35] robacarp commented on #193
Postgres also has json and json-b datatypes, which should present the same interface as mysql+json

[2018-05-10 01:10] Blacksmoke16 commented on #190
Done via #191

[2018-05-10 01:10] #190 closed

[2018-05-10 01:10] #174 closed

[2018-05-10 15:18] Blacksmoke16 opened #197 "Bulk Imports Validation"
As of now if a record is invalid it gets skipped when doing a bulk import.

I'm going to refactor this to make `.import` take a flag on whether to run the validations of models, and default it to false.

The question now is what should happen if an invalid record exists in the array.

1. Raise an exception of the first failed model
2. Skip them and log a warning of what model/validation failed

An

[2018-05-10 15:26] drujensen commented on #197
What about adding an `.import!` that throws an exception if there is a failure and
`.import` will return a boolean if there are any errors.

You could check each model -> errors to get your report of what happened to each one.

[2018-05-10 15:46] Blacksmoke16 commented on #197
I could go with that.

`.import` (all valid) return true
`.import` (at least 1 invalid) return false and skip invalid record(s)?
`.import!` (all valid) return Nil
`.import!` (at least 1 invalid) exception that at model_array contains invalid records.

[2018-05-10 15:53] drujensen commented on #197
looks great! for the second one, you should skip invalid records since they should be able to easily find the ones that have an error by filtering the array of models where `errors` exist.

[2018-05-10 16:09] Blacksmoke16 commented on #197
Sounds good, looking into this it seems i removed more than i thought and broke the importing...https://github.com/amberframework/granite/pull/191/files#diff-31c8f7daeb32efe4c6074f62fe115361L23

Not a good sign that the tests didnt pick that up....I'll have a PR to resolve that asap.

[2018-05-10 17:09] Blacksmoke16 opened #198 "Bulk Imports Broken"
I ended up breaking bulk imports, but it was a good thing as it made me notice that the tests passed when they should not have.

Apparently if a model has a default/custom_named auto primary key you are not able to manually override it when creating a new object from a model. I agree that auto inc primary key should not be overwritable, as you could then records could collide and you would be bett

[2018-05-10 20:48] Blacksmoke16 commented on #198
This ended up being the accumulation of various other things as well.  I want to think about this to make sure i got all tests/scenarios covered so it doesn't happen again.  PR prob tomorrow night.

[2018-05-10 22:50] Blacksmoke16 commented on #198
See #199

[2018-05-11 01:47] Blacksmoke16 commented on #180
I been messing around with this lately; got good and bad news.

The good news is multi database/schema is pretty trivial to do imo.  I have a working version of it on my local atm.

The bad news is currently our tests kinda depend on having the ENV variable to know what adapter to use when running the tests.  I can have the tests run by altering the ADAPTERS constant to run them 1 at a time adjust

[2018-05-11 19:54] jaysneg opened #200 "SELECT feature"
add ability to edit SELECT of Query

Is not posible to add custom fields

SELECT *, **categories.name AS category_name** FROM products JOIN categories ON categories.id = products.category_id

like there: **https://apidock.com/rails/v4.0.2/ActiveRecord/QueryMethods/select**

[2018-05-12 15:10] drujensen commented on #184
Right.  I think this is a valid restriction for an ORM.

Correct.  we will want a View Model that removes the `save` and `destroy` methods since this will only be to query and map the results to an object.

@faustinoaq yeah, your right. maybe we could use `query` or something as the macro.  Thanks for pointing that out.

[2018-05-12 16:27] #198 closed

[2018-05-12 20:47] drujensen commented on #151
This is now complete and released 0.11.0.  #204

[2018-05-12 20:47] #151 closed

[2018-05-12 20:50] drujensen commented on #179
This is a very tricky issue.  We cannot use an inflector in the macros so figuring out the non-plural version is not going to be easy.

[2018-05-13 23:13] robacarp commented on #180
@Blacksmoke16 I think it's reasonable to fix the tests by making a database.yml file which has a connection string for mysql, postgres, and sqlite and is parsed and used by a test helper. That would be the last attachment to the database.yml file, and then we could move forward in another pull for the other features.

[2018-05-14 18:46] jaysneg opened #206 "find_by feature"
Add ability to select only one record by few params
**Model**.find_by(name: name_string, other_field: other_field_int)

http://api.rubyonrails.org/classes/ActiveRecord/FinderMethods.html#method-i-find_by

[2018-05-15 04:43] faustinoaq commented on #159
Fixed on #133

[2018-05-15 04:43] #159 closed

[2018-05-15 10:43] jaysneg opened #207 "preload ability"
Add ability to preload data from joined tables and make only one query like includes in Rails ActiveRecord

https://apidock.com/rails/ActiveRecord/QueryMethods/includes

[2018-05-15 15:07] jaysneg commented on #207
I think it the same [https://github.com/amberframework/granite/issues/65](https://github.com/amberframework/granite/issues/65)

[2018-05-15 23:04] jaysneg opened #208 "relations error"
[code]

[2018-05-15 23:09] jaysneg opened #209 "query relation error"
if add this method to Category model
[code]

[code]

[2018-05-15 23:11] faustinoaq commented on #208
I think the error is self explanatory :sweat_smile:

[2018-05-15 23:13] jaysneg commented on #208
1 class Category < Granite::Base
  2   adapter mysql
  3   table_name categories
  4
  5   has_many :products
  6   has_many :subcategories
 12
 13   # id : Int64 primary key is created for you
 14   field name : String
 15   field description : String
 16   field active : Bool
 17   timestamps
 18 end

[2018-05-15 23:13] jaysneg commented on #208
1 class Subcategory < Granite::Base
  2   adapter mysql
  3   table_name subcategories
  4
  5   belongs_to :category
  6   has_many :products
  7
  8   # id : Int64 primary key is created for you
  9   field name : String
 10   field description : String
 11   field active : Bool
 12   timestamps
 13 end

[2018-05-15 23:15] jaysneg commented on #208
It appears when i try to get subcategories

category.subcategories

[2018-05-15 23:42] faustinoaq commented on #208
I think you have a typo here, see **Subcategorie**

[2018-05-15 23:44] jaysneg commented on #208
@faustinoaq
this method subcategories auto generates by Granite
[https://github.com/amberframework/granite/blob/master/src/granite/associations.cr#L42](https://github.com/amberframework/granite/blob/master/src/granite/associations.cr#L42)

/Users/k9/webdev/store_crystal/lib/granite/src/granite/associations.cr:39, line 3:

   1.     def subcategories
   2.

   4.     end

[2018-05-15 23:47] faustinoaq commented on #208
@jaysneg Oh, my bad, I just realize of that, so I think this is a bug /cc @drujensen

[2018-05-15 23:47] jaysneg commented on #208
[https://github.com/amberframework/granite/blob/99e2c5bdddd755ddab7047dfd7ca23232e015929/src/granite/associations.cr#L41](https://github.com/amberframework/granite/blob/99e2c5bdddd755ddab7047dfd7ca23232e015929/src/granite/associations.cr#L41)

this line just remove last symbol

[2018-05-15 23:49] faustinoaq commented on #208
Yeah, we have an similar issue here #129

[2018-05-15 23:52] faustinoaq commented on #209
Hi @jaysneg Thanks for report all these issue.

Please use tiple backtricks to add code blocks, otherwise is hard to read your code snippets :sweat_smile:

Try this:

[code]

[2018-05-15 23:55] jaysneg commented on #209
@faustinoaq ok

[2018-05-16 00:30] pynixwang opened #210 "Provide primary auto: UUID option that leverages Postgresql native support"
`abstract def insert(table_name, fields, params, lastval) : Int64`

`insert` is limited to return `Int64`

[2018-05-16 01:37] drujensen commented on #210
The return value is ignored if `auto: false` on `primary`

[2018-05-16 01:38] drujensen commented on #210
right now, we only support the following:  https://github.com/amberframework/granite#uuids

[2018-05-16 19:34] noahlh commented on #184
Cool - all great thoughts - thanks.  I'm going to work on the initial portion of this (the `select`/`query`/something macro) this weekend and will report back!

[2018-05-17 13:51] Blacksmoke16 commented on #206
We already support a `find_by` method, however it only accepts one key/value pair.  This would be fairly easy to do, refactor current `find_by` to accept multiples.

[2018-05-18 19:58] robacarp commented on #209
This looks like a problem with pluralization, #129. I'm guessing your column name is `category_id` instead of `categorie_id`

[2018-05-18 20:57] jaysneg commented on #209
yes

[2018-05-19 23:58] noahlh commented on #200
This is under discussion @ #184

Working on it now!

[2018-05-20 00:52] Blacksmoke16 commented on #206
I have a working version of this by adding an override to the current `find_by` but i don't like how the syntaxes are different.  Going to see if i can refactor them into one.

[2018-05-20 05:58] Blacksmoke16 commented on #210
@pynixwang Do you have a different use case that isn't doable with current implementation?  Otherwise this is a non issue.

[2018-05-20 06:52] pynixwang commented on #210
it 's not friendly if we must set callback manually, can this be done as a macro?

[2018-05-20 13:33] Blacksmoke16 commented on #210
Ah so you mean like declare `primary` as type `UUID` for example, and it would handle the creation/setting of UUID?

[2018-05-20 14:08] pynixwang commented on #210
yes.

[2018-05-20 14:17] pynixwang commented on #210
and will last_value have race condition while concurrent insert?

[2018-05-21 19:03] Blacksmoke16 commented on #210
@amberframework/granite-orm-contributors @pynixwang

What would your thoughts be on refactoring the `auto: false`to say `type: xxx`.  Where it would default to `type:  auto`.  Other options would be `type: false` to disable auto int, or `type: UUID` to generate the UUID on model automatically?

[2018-05-21 21:34] drujensen commented on #210
I still prefer `auto: ` but you could add `auto: UUID` to generate the UUID automatically.  This would allow us to take advantage of UUID in pg.

[2018-05-21 22:48] Blacksmoke16 commented on #210
I could go with that. :+1:

[2018-05-22 05:17] pynixwang commented on #210
I prefer pg uuid generate, but mysql and sqlite can not do this, so generate in app layer is the more compatible.

[2018-05-22 05:59] noahlh commented on #184
Update:  Initial PR coming soon.  Just writing up final new tests & README update and will submit as soon as complete.

[2018-05-22 09:03] jaysneg opened #212 "Add sanitize method"
sanitize sql query

http://api.rubyonrails.org/classes/ActiveRecord/Sanitization/ClassMethods.html
https://apidock.com/rails/ActiveRecord/Base/sanitize/class

[2018-05-22 09:05] jaysneg opened #213 "always more than max_prepared_stmt_count"
add auto statements managing

[code]

[2018-05-22 12:18] faustinoaq commented on #213
@drujensen @Blacksmoke16 Is this a [batch_size](https://amberframework.gitbook.io/amber/guides/models/granite/bulk-insertions#batch_size) issue?

@jaysneg Can you share us some of your Models code?

[2018-05-22 13:58] Blacksmoke16 commented on #212
Im not sure this is needed, all the insert/update functions use prepared statements already so this is kinda redundant.

[2018-05-22 14:10] jaysneg commented on #212
@Blacksmoke16 yes for raw SQL

[2018-05-22 14:11] jaysneg commented on #212
or if try to save html code to description:text field

[2018-05-22 15:38] jaysneg commented on #213
Granite collect them close connection and clear them and if set prepared_statements: false it stops working.

just create Amber app with Granite not with Granite::ORM

create scaffold page ant do create and edit and delete

go to MYSQL db
and run: show global status like "%prepared%";

and you will see then Prepared_stmt_count will always grow

as i can see Granite always open and not close connec

[2018-05-22 17:19] jaysneg commented on #213
I can test it after fix on huge amount of data.

[2018-05-22 23:12] Blacksmoke16 commented on #213
@jaysneg see if https://github.com/amberframework/granite/pull/214/commits/caf329ad9c96c8cc9da0747480b2a0235a0d09f1 resolves your issue.

[2018-05-23 15:37] robacarp commented on #200
Closing as duplicate of #184

[2018-05-23 15:37] #200 closed

[2018-05-23 19:09] faustinoaq opened #216 "Add new query syntax to Granite's README"
New query syntax added on #132 is not on README yet.

See: https://github.com/amberframework/granite/pull/132#issuecomment-391050169

[2018-05-23 22:29] jaysneg commented on #213
@Blacksmoke16 it works for me

[2018-05-24 18:13] jaysneg commented on #212
@Blacksmoke16
Incorrect string value: '\xE2\x81\x84<su...' for column 'description' at row 1 (DB::Error)

[2018-05-24 23:07] Blacksmoke16 opened #217 "Validation helpers"
As of now the validators usage is not documented in the readme.  We should do that.

[2018-05-25 15:06] Blacksmoke16 commented on #212
I'm going to close this since this is outside the scope of Granite.  Consider making an issue on the base driver repo https://github.com/crystal-lang/crystal-db.

[2018-05-25 15:06] #212 closed

[2018-05-27 00:05] Blacksmoke16 commented on #217
@amberframework/granite-orm-contributors

I think i want to take the time to add some helper wrapper validators.  For example:

`assert_not_nil :name` which would add the error `name cannot be nil` if name is nil

or

`assert_greater_than :age, 0` which would add the error `age must be greater than 0` if age is less than 0.

WDYT?

[2018-05-27 16:49] drujensen commented on #213
@jaysneg Take a look at this document [here](https://crystal-lang.org/docs/database/connection_pool.html) regarding connection pool.  Can you try some of the configurations to see if this resolves your issue?  Closing the db connection may work but it has serious performance consequences.

[2018-05-28 00:26] Blacksmoke16 commented on #217
So far to start i have:
greater than (or equal to)
less than (or equal to)
blank
not blank
nil
not nil
length
valid choice (preset list of possible values)

Any other good ones you think?

[2018-05-28 00:30] faustinoaq commented on #217
@Blacksmoke16 Looks good, BTW, I think would be possible to create a `docs/` folder to separate granite sections and use them here: https://amberframework.gitbook.io/granite, WDYT?

[2018-05-28 00:43] Blacksmoke16 commented on #217
Assuming you mean delete the generated `docs` folder and replace it with a file per feature so that everything isn't in one big readme?

I think that would be good but prob better suited to another issue.

[2018-05-28 00:51] faustinoaq commented on #217
Oh, I just realize `crystal docs` uses `docs/` folder :sweat_smile: , so, I think we can use something like a `guides/` directory, WDYT?

Oh, ok no problem :+1:

[2018-05-29 20:36] jaysneg commented on #213
@drujensen i tried this

[code]

and it shows the same error

[code]

i need to import more then 90 000 products and 150 000 product items and etc

and it works really fast with this fixes `caf329a`

[2018-05-29 21:03] jaysneg commented on #213
if thy this
[code]

it fails:

[code]

[2018-05-29 21:16] jaysneg commented on #213
[https://github.com/brianmario/mysql2/issues/694](https://github.com/brianmario/mysql2/issues/694)

[2018-05-30 17:15] jaysneg commented on #213
@drujensen  found my fail

I re-writed all queries from:

[code]

to:

[code]

and it is fixed issue

I think better to add this to docs

not every one knows how to work with sql

[2018-05-30 17:31] drujensen commented on #213
Aaahh, yes.  So the first will create a new prepared statement each time.  The second will re-use the same one since the string doesn't change.  Glad you figured this out.  I'm closing the issue.

[2018-05-30 17:31] #213 closed

[2018-05-30 19:10] faustinoaq commented on #213
@jaysneg Maybe we can add a Granite troubleshooting section like [Amber troubleshooting](https://amberframework.gitbook.io/amber/troubleshooting), WDYT?

[2018-05-30 19:11] jaysneg commented on #213
i think it like best practices

[2018-05-30 19:46] Blacksmoke16 commented on #217
This is merged in now.  Going to close.

[2018-05-30 19:46] #217 closed

[2018-05-30 22:07] #206 closed

[2018-05-31 23:07] Blacksmoke16 commented on #180
I'm going to make this my focus this weekend.

[2018-06-06 21:49] noahlh commented on #184
Done & done with #215

[2018-06-06 21:49] #184 closed

[2018-06-07 05:15] noahlh opened #222 "More complete View Model support"
I'd like to iterate on the functionality added in #215 and build out a proper standalone View Model.  Gonna think out loud here for a bit and would love some feedback/thoughts...(And I'm happy to start building this and submit a PR after some spec discussion)

It would:

* Inherit from something like `Granite::ViewModel` (instead of Granite::Base)
* Contain only methods for querying, and none for

[2018-06-08 00:54] faustinoaq opened #223 "Create Granite documentation"
Hi @drujensen I think Granite's README is growing very fast, maybe we should maintain a separate directory (or repo) for docs like Crecto and Jennifer do, WDYT?

BTW, I already created a GitBook page for Granite here: ~~https://amberframework.gitbook.io/granite~~ (linked to this repo and using Granite's README)

Update: new link :tada: https://docs.amberframework.org/granite/

[2018-06-08 02:42] #170 closed

[2018-06-08 23:11] robacarp opened #225 "Timezones aren't persisted to the database (or rendered in hashes, json, etc)"
[code]

At a minimum timezones should be persisted to the database, but they should also be emitted into json in the right string format for javascript.

I'm not sure that Time objects should be stringified when a model is converted to a hash at all.

[2018-06-09 03:18] robacarp commented on #222
It might, but that seems like a feature that is beyond the initial run. I like the idea of a ViewModel in Granite a lot. Maybe automatic field detection, or perhaps some clever DSLy field generation with the query macro can be done as a second round feature?

[2018-06-09 19:55] noahlh commented on #222
Totally agreed.  I'll get the initial implementation up & running, and we can add additional fun bits afterwards.

Any other base features I'm missing for Round 1 beyond the basic View Model and its associated methods/macros?

[2018-06-09 23:20] Blacksmoke16 opened #226 "Get ready for Crystal 0.25.0"
With 0.25.0 coming soon, we need to update some things for the new version.

- [x]  Update Dockerfile since `crystal deps` is being removed. https://github.com/crystal-lang/crystal/pull/5544
- [ ]  Remove references of `JSON::Type`. https://github.com/crystal-lang/crystal/pull/5183
- [ ] `File.stat` is renamed to `File.info` https://github.com/crystal-lang/crystal/pull/5584
- [ ]  Read the changel

[2018-06-11 16:24] robacarp commented on #226
@Blacksmoke16 thanks for putting together this list. I read through the list of breaking changes and did some grepping to check if things were needed, and added File.stat to your list.

In addition, I think this change will have some major effects on projects which use Granite:
- Automatic type casting of literals: https://github.com/crystal-lang/crystal/pull/6074

[2018-06-12 17:18] robacarp commented on #225
Adding a little note here about something to consider when implementing this: converting to UTC will solve a _bunch_ of the use cases here, but not all of them. http://www.creativedeletion.com/2015/03/19/persisting_future_datetimes.html

[2018-06-15 20:16] #226 closed

[2018-06-16 15:40] eliasjpr opened #230 "Currently missing save!, destroy!, update!"
### Description

Add support for save!, destroy!, update! to keep api consistent.

[2018-06-18 07:30] conradwt opened #233 "Error undefined method 'create' for ModelName:Class"
After creating a model, migrating the database, I'm seeing the following issue:

[code]

seeds.cr:
[code]

person.cr:
[code]

[2018-06-18 07:38] faustinoaq commented on #233
Hi @conradwt What granite version are you using?

[2018-06-18 07:41] faustinoaq commented on #233
I can reproduce this issue: amber v0.7.2 and granite_orm (legacy) v0.8.4

[code]

[2018-06-18 07:48] faustinoaq commented on #233
Works fine on granite_orm (legacy) v0.9.1

[code]

Try to update your `granite_orm` dependency version to `0.9.1`in your `shard.yml`

[code]

[2018-06-18 08:10] conradwt commented on #233
@faustinoaq After upgrading `granite_orm` to 0.9.0, things are now working as expected.

[2018-06-18 12:09] Blacksmoke16 commented on #233
I'm going to close this since you figured it out.  Any other issues create a new issue.

[2018-06-18 12:09] #233 closed

[2018-06-18 18:00] robacarp opened #234 "validation helper specs need to be brought into modularized style"

[2018-06-18 20:01] Thellior commented on #234
Do you mean that instead of an validator_helper_spec we should create spec files like validate_is_nil_spec.cr validate_is_blank_spec.cr?

[2018-06-18 21:51] robacarp opened #235 "refactor needed? import methods in adapters should not know about models"
While updating for Crystal 0.25, I spent some time in the adapters and noticed that each adapter has [too much knowledge about the models](https://github.com/amberframework/granite/blob/master/src/adapter/pg.cr#L86-L95).

This seems like it could be refactored for [Base&import](https://github.com/amberframework/granite/blob/master/src/granite/transactions.cr#L36-L45) to pass in an `Array(Array(DB:

[2018-06-18 22:39] robacarp commented on #234
@Thellior good question. If the spec files are long enough, that's a great way to make them more readable.

These are the changes I'd like to see:

-  the presence of test models in the spec files (spec/spec_models.cr has _plenty_ and they should be used whenever possible)
- not using the [GraniteExample::Adapters pattern](https://github.com/amberframework/granite/blob/master/spec/granite/querying

[2018-06-18 23:00] Blacksmoke16 commented on #234
Reason i put them with the spec is they all contain validation helpers on them.  I didn't want other thinking they could be used in other normal tests and wonder why they fail if one of the validation helpers constraints isnt met.

I'm not opposed to moving them all into the `spec_models.cr` file and naming them `ValidationHelperxxxx` however.

[2018-06-19 03:17] conradwt commented on #209
I'm seeing a smilar issue where my join table, `friendships`, has a `person_id` and `friend_id`.  For example, it's generating the following invalid SQL:

[code]

Here's the SQL it should be generating:

[code]

[2018-06-20 13:20] Thellior opened #238 "Extending from custom class gives @@validators errors"
When creating an application_record.cr and extending it Granite::Base it works.
When i create an model user.cr and extend from application_record.cr it will raise an compiler error saying that @@validators are already defined.

[code]

[code]

[code]

[2018-06-20 19:32] rishavs opened #239 "Granite running under Sentry-run keeps creating connections till the pool is exhausted"
I am using a hosted psql db at ElephantSql as my database. It gives me 5 connections to the db. My app is a simple api on Kemal and Granite and Sentry-run. On starting the app, Granite keeps sending repeated connection requests (same query repeated over and over again) till my pool is exhausted.
![Image of connections](https://files.gitter.im/amberframework/amber/EsOm/image.png)
In this screengrab

[2018-06-20 19:36] drujensen commented on #239
Interesting.  Sentry will restart the process if some code changes but I would think the previous connection would be disabled when the older process is killed.  Can you provide details on what sentry is monitoring?  Is there any files that might be triggering a sentry restart or can you confirm there is no restart happening?

[2018-06-20 19:37] faustinoaq commented on #239
@rishavs What is your sentry config? Are you sure this is not an sentry-run issue? :sweat_smile:

[2018-06-20 19:55] rishavs commented on #239
Sentry doesn't needs to restart. Just tried on a fresh crystan run.

[code]
and an example model;
[code]

[2018-06-20 19:58] faustinoaq commented on #239
@rishavs Oh, I think this a sentry-run issue, because sentry forks a process in background, and maybe the process is not being killed properly :sweat_smile:

[2018-06-20 19:59] rishavs commented on #239
my bad. That sounds about right.

[2018-06-20 20:00] faustinoaq commented on #239
Also, be aware sentry-run code is pretty simple (just a few line of code), the actual code is on sentry repo :sweat_smile:

[2018-06-20 20:21] #239 closed

[2018-06-21 17:38] robacarp commented on #238
Yeah, right now this isn't supported on Granite.

The easiest way to accomplish what you're trying to do is with a module which you import into your models. I do this and it works reasonably well. I'm not sure it'll work with the `adapter` macro though.

[2018-06-23 07:45] msa7 commented on #115
I have to adds `phone_number!` and `phone_country_code!` to model for avoid `.not_nil!` elsewhere. Is there better way? Maybe Granit should generate `phone_number!` automatically?

[code]

[2018-06-23 11:05] Thellior commented on #230
We merged https://github.com/amberframework/granite/pull/232. This satisfied the need for save! destroy! and update!. I think we can close this issue

[2018-06-23 11:43] faustinoaq commented on #230
@Thellior Yeah, Thank you! :+1: :smile:

[2018-06-23 11:43] #230 closed

[2018-06-23 13:53] Blacksmoke16 commented on #115
You can add a `!` after field to tell Granite that that field should be not nil.  For example:
[code]

[2018-06-23 22:08] robacarp commented on #235
@Blacksmoke16 my thought is that the model#import method can pass a Array(Tuple(<fields>)) down to the adapters (or something similar). At least I think that would keep the model knowledge away from the adapter#import methods.

[2018-06-23 22:16] robacarp opened #243 "Implement ==(other) and <=>(other) on Base"
It'd be handy both for Granite specs and for application devs to be able to take an Array(MyModel) and call `#sort` on it, or be able to ask if two instances of a model are `==` each other.

[2018-06-24 15:41] jwoertink opened #244 "Weird error with instance variable '@loader'"
I may just be doing something wrong with my setup here, but [here is my code](https://github.com/jwoertink/crystal_orm_test/blob/master/src/orm_test/granite/setup.cr#L27)

My error is:

[code]

I just want to do a simple where query. Do I need to include and/or setup anything else?

[2018-06-24 15:45] faustinoaq commented on #244
Hi @jwoertink

I see you're using [granite master](https://github.com/jwoertink/crystal_orm_test/blob/master/shard.yml#L21), can you try with other version?

[2018-06-24 15:49] jwoertink commented on #244
Yeah. Using 0.12.1 gives me the same issue. Is there a specific version I should try?

[2018-06-24 15:54] robacarp commented on #244
@jwoertink I was able to get it to work using 0.12.1 with [this code](https://gist.github.com/robacarp/5e4adb829b9ad75ef233bc4d8f62ea6b).

I made some small tweaks to fit a database I already had, but I think the spirit is the same.

I'm executing that file as `crystal run src/orm_test_granite.cr`

That error is strange, I suspect something else is going on.

[2018-06-24 15:59] jwoertink commented on #244
hmm.. odd.. Ok, so I did `rm -rf lib/`, then ran `shards install` just to ensure that I didn't have any cache thing stuck in there. I verified in the `shard.lock` that it's set to 0.12.1. Here's the full error.

[code]

[2018-06-24 22:46] SRod86 opened #245 "Undefined method 'import' for Class"
I'm not sure if I'm reading the docs incorrectly or if this is a true error. Not sure where else to check for errors on my end though.

I'm setting up basic authorization for an Amber app and have a User migration which has been run already (I logged directly into the DB to confirm this was successful). Upon running `amber db seed` to add users in bulk, I get:

When reading this in the docs, I'm a

[2018-06-24 23:03] Blacksmoke16 commented on #245
Can you give what your User class looks like?

[2018-06-24 23:20] SRod86 commented on #245
Granite version: 0.8.4

User class is pretty basic:
[code]

[2018-06-24 23:29] SRod86 commented on #245
Ah, that'll do it haha. I'll definitely check out those helpers! Thanks!

[2018-06-24 23:29] #245 closed

[2018-06-25 15:58] c910335 commented on #115
@msa7
Actually, the raise-on-nil methods you said are generated automatically since #171.

[2018-06-25 16:03] Blacksmoke16 commented on #244
@jwoertink try `rm -rf ~/.cache/crystal` `rm -rf ~/.cache/shards`

(confirm those are the correct paths, going off of memory and free handing it)

Was an issue i had the other day with PG shard not updating, that solved it.

[2018-06-25 16:16] robacarp commented on #244
@jwoertink I can confirm this issue on my computer when cloning the repository. I have my doubts this is anything related to granite, but I'm curious to know what you find out if you solve it.

[2018-06-25 16:20] jwoertink commented on #244
@Blacksmoke16 thanks for suggestion.

[code]

Yeah, wiped out all the cache, and started from scratch and still getting the same error. This only happens on the query. The insert and setup stuff all work fine.

[2018-06-25 16:32] jwoertink commented on #244
oh sweet! Yup, that lets it compile. Thanks @robacarp. Then I guess all that needs to happen is [these docs](https://docs.amberframework.org/granite/#queries) need to be updated? In any case, I'd say this issue is resolved. Also, nice job with Granite! So far it's in the lead for speed 😉

[2018-06-25 16:32] #244 closed

[2018-06-25 16:38] robacarp commented on #244
@jwoertink I'm glad to see Granite is in the lead, but I don't think this actually resolves the issue. I'm really hesitant to throw the "language bug" flag, but I think it is a problem with the way crystal is handling _some_ component of what you've built.

Here's another way to get it to compile: disable all ORMs _except_ granite. This works regardless of the query method.

[code]

[2018-06-25 16:52] #115 closed

[2018-06-25 16:54] robacarp commented on #245
@SRod86 please note that `orm` is no longer part of the name of `Granite::Base`, nor is it part of the name of the shard.

[2018-06-25 17:10] jwoertink commented on #244
hmm... You changed the ID to int64 which I can't do because other ORMs don't support it just yet. Maybe it's something with that? Once they're all on board, I'll be updating to that though.

[2018-06-25 20:33] robacarp commented on #244
if you create the table with an INT column instead of a BIGINT column, an Int32 will work

[2018-06-25 21:10] jwoertink commented on #244
Not sure if this matters or not, but I get this same error from

[code]

[2018-06-26 14:00] damianham opened #246 "unable to run an arbitrary query"
Previously this code worked fine:
[code]
With version 0.12.1 this no longer compiles and produces this error output
[code]

[2018-06-27 02:20] drujensen commented on #246
@noahlh @robacarp @damianham it looks like we defined `query` twice.  We need to change one of them.

The original definition provides a way to perform direct database queries as @damianham shows above.

https://github.com/amberframework/granite/blob/master/src/granite/querying.cr#L115

We support pass throughs for `exec`, `query` and `scalar` to allow direct db access.

@noahlh recently added a n

[2018-06-27 03:10] drujensen commented on #246
created a PR #247 to rename it to `select_statement`.

[2018-06-27 03:22] rishavs opened #248 "Exception throwing variant `!` operator broken"
If I use the exception throwing version of save, I am getting errors;
[code]
For me this code works as expected;
[code]
but it breaks down when I use `new_user.save!` in the begin block as
[code]

[2018-06-27 03:28] Blacksmoke16 commented on #248
What version of granite are you using?

[2018-06-27 03:29] rishavs commented on #248
oops forgot to mention that. I am on 12.1

[2018-06-27 03:29] Blacksmoke16 commented on #248
This feature hasn't been released yet.  You would have to specify the master branch to get it.

[2018-06-27 03:32] rishavs commented on #248
hmmm... should the docs be updated to account for it. They explicitly say that I can use the `!` operator.

[2018-06-27 03:32] #248 closed

[2018-06-27 03:35] Blacksmoke16 commented on #248
No.  The docs as you see on Github are based on the master branch of Granite source code, not what features are available based on a specific version of Granite via shards.

Using the master branch in your shard.yml as the version is probably a bad idea as a breaking change could get merged into master and you're app would break.

[2018-06-27 03:39] rishavs commented on #248
The amber gitbook docs give the same info. Maybe we should start versioning the docs so that such documentation errors don't come in. Whats your opinion on this?

[2018-06-27 03:43] Blacksmoke16 commented on #248
Pretty sure those docs are just pulling/based on the README of Granite master branch.

That could be an option but probably best suited to its own issue.

[2018-06-27 03:50] rishavs commented on #248
I will start a new one for that.

[2018-07-01 00:39] faustinoaq commented on #179
Hi @drujensen I'm having this issue in my application:

I'm using one to many association:

[code]

and I got this error: (see `products.categorie_id`, it should be `products.category_id`)

[code]

Do you know some workaround for this?

[2018-07-01 01:03] faustinoaq commented on #179
I using my own method as workaround :sweat_smile:

[code]

[2018-07-04 13:08] Blacksmoke16 opened #250 "Investigate out of the box JSON::Serializable support"
I would like to start a discussion on how doable support for Crystal `JSON::Serializable` would be for Granite.

If this works out how I think it will this would be a major improvement on the ability for models to work much better with JSON APIs.  It would allow:

1.  Better `.from_json` support
2.  Possibly allow for the `JSON::Field` annotations to better control serialization/deserialization.
3

[2018-07-06 02:55] Blacksmoke16 opened #251 "Add `# :nodoc:` to some properties/methods"
Quite a few Granite methods/constants pollute the generated docs.

For example i dont think `adapter` `table_name` `validate` `CALLBACKS` `CONTENT_FIELDS` etc should be included in the docs for classes using Granite.  All they do is pollute and quite frankly take over the generated docs for any class inheriting from `Granite::Base`

To clarify this would be docs generated via `crystal docs`

WDYT?

[2018-07-09 22:59] robacarp commented on #250
@Blacksmoke16 I'm all for ideas! The current json integration is minimal at best and various ideas have been floated in the past, both here and on Amber.

[2018-07-13 09:27] hansy opened #252 "undefined method 'update'"
Granite v0.12.1

How do I update a record?

[code]

Error is `undefined method 'update' for Field (did you mean '__update'?)`.

[2018-07-13 12:02] Blacksmoke16 commented on #252
Can you share your model class?

[2018-07-13 12:16] hansy commented on #252
Oh yeah absolutely.

[code]

[2018-07-13 12:20] Blacksmoke16 commented on #252
I wonder if your class name is conflicting with a Granite one.  Try renaming it like `Foo` or something.

[2018-07-13 12:23] c910335 commented on #252
`#update` is a new feature in master branch, not yet available in v0.12.1

[2018-07-13 12:25] #252 closed, assigned to Blacksmoke16

[2018-07-14 02:20] Blacksmoke16 commented on #250
Support for this would be amazing.

I been looking into it here and there but im not too sure what is going on still.

It seems `from_json` is trying to create a `Symbol` type that is not able to be instantiated.

[code]

[2018-07-16 14:33] drujensen opened #254 "Support adapter registration"
We should look at supporting registration of an adapter and then using that adapter by name in the model.  Right now we are hard coding the adapter names to `pg`, `mysql` and `sqlite` but I think we can fix this by allowing you to register your own named adapter and then using that named adapter in the model.

Registering a new adapter:
[code]
And then using it:
[code]

This will allow for other a

[2018-07-16 23:37] Blacksmoke16 commented on #254
This is pretty much what @robacarp and @eliasjpr were talking about in my old PR.

See https://github.com/amberframework/granite/pull/242#issuecomment-400520029 and https://github.com/amberframework/granite/pull/242#issuecomment-400711014

[2018-07-17 00:09] drujensen commented on #254
Correct, except this will support future adapters and handles multiple connections to the same type of database using the adapters registered name.

[2018-07-17 00:10] Blacksmoke16 commented on #251
@drujensen @robacarp Which option would you prefer.

1.  Always not generate them with a hardcoded `# :nodoc:`
2.  Generate by default but option to not using an ENV variable?

[2018-07-17 00:41] Blacksmoke16 commented on #223
At the very least a table of contents would help.

[2018-07-17 00:43] Blacksmoke16 commented on #180
Closing this in favor or #254

[2018-07-17 00:43] #180 closed

[2018-07-17 01:15] Blacksmoke16 commented on #163
Once #253 gets merged it could be doable with JSON files.  Read JSON/array of JSON from file and instantiate a model with given JSON values.

[2018-07-17 01:30] robacarp commented on #251
I’d say simple is better. Docs are meant for easy access, I don’t see a reason to toggle the nodoc.

[2018-07-17 01:33] Blacksmoke16 commented on #251
Was more so thinking what if we wanted to use the generated docs as an API for Granite.  We would ofc want to show those methods/params/macros.  But someone using Granite for their project prob wouldn't want to.

Doesn't really matter to me.

[2018-07-17 01:48] robacarp commented on #251
0h I see what you mean. Sure, yeah

[2018-07-17 15:57] #246 closed

[2018-07-19 05:57] Blacksmoke16 commented on #250
Fixed with #253

[2018-07-19 05:57] #250 closed

[2018-07-19 06:57] J-Mo63 opened #258 "@loader Issues"
## Issue
I'm working on building out an API for myself and I'm currently trying to add persistence, however I get the following error from even a simple `Example.all`.
[code]
I looked over issue #244 the other day in search of answers and the workaround provided isn't quite enough for my purposes (plus it looks a little hacky). There seems to be no documentation for the syntax described in the iss

[2018-07-19 15:37] asterite commented on #258
This error can happen if you have both a public and a private class Example. The error is a bit misleading. Not sure this is the case, though, you'd have to check if there's a private class Example somewhere in amber that is somehow being used...

[2018-07-19 16:07] robacarp commented on #258
I think @asterite is right, this is due to there being a duplicate name in the class namespace somewhere. I don't think Granite has any class called Example, and on https://github.com/amberframework/granite/issues/244 the error was more specific and certainly didn't include anything that is part of Granite.

@J-Mo63 the query syntax in #244 is not documented because it's not solidified and not ava

[2018-07-19 16:59] #223 closed

[2018-07-20 01:07] J-Mo63 commented on #258
Hmm, it doesn't seem to be a conflict in my class naming however I could be wrong so [this is the repo for reference](https://github.com/J-Mo63/frost-crystal).

After doing a find all in my project files (and not coming up with any other results), purging my `lib`, name-spacing my models, and changing their names, I still receive the loader issue:

**the new model**
[code]

**table creation**
[cod

[2018-07-20 02:05] Blacksmoke16 commented on #258
I did some trial and error and seemed to narrow it down to something in the `orion` lib.  Am able to get it to compile by commenting some stuff out (the stuff that imports from orion) and commenting out the `require "orion"`

I'll see if i can figure anything out.

[2018-07-20 13:52] drinkmorewaters opened #260 "Problems compiling."
cr:1: while requiring "granite/adapter/pg": can't find file 'granite/adapter/pg'

If you're trying to require a shard:
- Did you remember to run `shards install`?
- Did you make sure you're running the compiler in the same directory as your shard.yml?

require "granite/adapter/pg"
^

Can't run Crystal build because of require error. I ran shards install.

[2018-07-20 14:16] Blacksmoke16 commented on #260
This isn't really helpful.  Is probably user error.

Would need to see some code examples.

[2018-07-20 14:22] drinkmorewaters commented on #260
Most definitely user error as i literally started learning Amber today, with only a few days of programming experience.

The DB seems to be linked as i can save passwords, sign in/sign up is working.

I have attached the code in a zip file if that helps.
[my_blog_amber.zip](https://github.com/amberframework/granite/files/2214249/my_blog_amber.zip)

It seems to be included.

name: my_blog_amber
ver

[2018-07-20 14:23] Blacksmoke16 commented on #260
Welcome to Crystal :) Glad to have you on board.  I'll take a look and see what i see.

[2018-07-20 14:29] drinkmorewaters commented on #260
@drujensen @Blacksmoke16 Thank-you for you quick help. Very embarrassing. I didn't write crystal build src/my_blog_amber.cr Missed the src/

Bit hard as a beginner as it's lots of poking, not much material for beginners out yet. So thank you very much for you help!

[2018-07-20 14:29] #260 closed

[2018-07-20 14:31] Blacksmoke16 commented on #260
Glad you figured it out, feel free to join the Gitter chat, might be easier for questions and such.

https://gitter.im/amberframework/amber

[2018-07-21 01:59] J-Mo63 commented on #258
@Blacksmoke16 how did you narrow it down to the `mime-types` lib? I just read through its code and there don't *seem* to be any naming conflicts with Granite.

[2018-07-21 02:00] Blacksmoke16 commented on #258
Could just be coincidence, but removing `mime-types` references from `orion` lib made the error go away.

:man_shrugging:

[2018-07-21 02:07] J-Mo63 commented on #258
Urgh, what a pain. I may end up switching routers if I can't figure this one out. Thank you for your input!

[2018-07-21 02:08] Blacksmoke16 commented on #258
I'd checkout https://github.com/kemalcr/kemal

[2018-07-21 02:15] J-Mo63 commented on #258
Hilariously, I actually started the project with Kemal, and then realised that it had [no support for modular routing and instance variables yet](https://github.com/kemalcr/kemal/issues/473). After some research I decided to build my own thing instead of using the whole of either Amber or RAZE given that it's supposed to be very light and simple. Once I push past getting persistence working, I thi

[2018-07-21 02:16] asterite commented on #258
I'd check if there are aliases in mime-types. There are some bugs related to alias types that might cause this problem.

[2018-07-21 03:00] J-Mo63 commented on #258
Wow, so you fixed this for non-top-level `alias` definitions back in 2016 huh. I've managed to remove all uses of aliasing throughout Orion and its dependancies but no dice.

Any other major situation that can cause the `@instance must be SameType, not SameType` compile error?

[2018-07-23 02:19] #251 closed

[2018-07-24 01:01] Blacksmoke16 commented on #136
Can we restart the discussion on this?  After setting up PG, i noticed we don't have support for the more advanced types it offers.

How do we want this to work?
What will be involved?
Should this come with a refactor to the `cast_to_field` method?

[2018-07-24 03:45] drujensen commented on #136
Yes. We should refactor the cast_to_fields and support duck typing or a type extension that will add a method that will cast its type correctly. This will remove the case statement and allow for other custom types.

[2018-07-24 16:09] Blacksmoke16 commented on #136
Cool, i have a few ideas about this but i'll see how it goes.

[2018-07-25 02:48] Blacksmoke16 commented on #136
Yea..i'm not too sure how to manage this.

I have a semi working version for NamedTuple args.  But the main issue points im having are like casting the unioned types of everything into what the var should be, and managing casting errors.

Any tips/ideas?  I'll keep thing as well..

[2018-07-27 08:59] benbonnet commented on #107
can confirm this part is troublesome when onboarding there; `amber g model/scaffold/migration xxx` does not even the `initializer/granite.cr` advertised above (and the link leads to a 404)

Would you mind printing there +- accurately how to go over this issue as of today ? #1 result in google for "no driver was registered for the schema"

[2018-07-27 12:29] #254 closed

[2018-07-27 12:36] drujensen commented on #207
@jaysneg thanks for reporting this.  yes, this is a duplicate of #65.  closing.

[2018-07-27 12:36] #207 closed

[2018-07-27 12:51] drujensen commented on #209
This will be addressed with #103 and #129

[2018-07-27 12:54] drujensen commented on #152
this is similar to #136

[2018-07-28 02:30] Blacksmoke16 commented on #136
Little update.  Managed to get saving/reading PG array.

However i'm open for ideas on better ways to handle the casting.  Is my major blocker right now.

[code]

[2018-07-29 02:15] Blacksmoke16 commented on #103
This is still relevent.  As of now associations assume there the PK is `id` with FK is like `foreign_key_id`

[2018-08-01 03:52] J-Mo63 commented on #258
So after demolishing all of Orion and Mime-Type's code, I got it working, but still couldn't pinpoint a single fix for it that I could push up to their repos. So in defeat, I moved some days ago to [Toro](https://github.com/soveran/toro), and it honestly suited my purposes better anyway (tree-oriented routing).

While I have learned many a thing about the language from this debacle, this is clearl

[2018-08-01 03:52] #258 closed

[2018-08-08 04:48] noahlh commented on #222
Gonna jump into this starting this weekend - sorry for delay!

[2018-08-09 17:51] shayneoneill opened #263 "Are the adapters docs right?"
I have this code
[code]

It produces this error;-
[code]

Cant work out what I'm doing wrong here, Im using the latest github main branch as per docs, but I cant even find "Adapters" in a grep of the library.

Where these docs committed before the actual code?

From specs
[code]

[2018-08-09 18:00] drujensen commented on #263
@shayneoneill We haven't released this feature yet so you will need to specify `branch: master` in your dependencies.

Here is the Granite::Adapters in the master branch:  https://github.com/amberframework/granite/blob/master/src/granite/adapters.cr#L5

[2018-08-09 18:01] drujensen commented on #263
didn't mean to close this.  Let me know if this resolves your issue.

[2018-08-11 22:05] shayneoneill commented on #129
Is this something you really want? I always considered this an anti-feature in rails, an unneccesary form of magic that got in the way of readability and seemed to confuse ides

[2018-08-11 22:10] shayneoneill commented on #121
Wouldnt the better way to handle this be to ensure DB foreign key Constraints are properly set to cascade? Keep in mind cascade also has to deal with update contingencies too. This is something modern RDBMS handle well already. Why duplicate functionality?

[2018-08-13 13:48] robacarp commented on #121
@shayneoneill leveraging RDBMS constraints could be a great way to handle this

[2018-08-17 06:39] msa7 opened #266 "wrong number of arguments for 'Time.parse' (given 2, expected 3)"
On crystal 26.0 I got compilation error:

[code]

[2018-08-17 22:05] #266 closed

[2018-08-25 20:41] yumoose opened #271 "New database connections are opened on each query"
After adapter registration support (#257) was added, each time Granite tries to open a connection to the database, a new database is opened, rather than the reusing the already opened database in the adapter.

[code]

This breaks being able to set connection pool configuration as described in the [Crystal docs](https://crystal-lang.org/docs/database/connection_pool.html), and is leading to a massi

[2018-08-25 21:28] astupidnerd commented on #193
Is it currently possible to use the JSON data with postgres?

[2018-08-25 22:07] #263 closed

[2018-08-25 22:10] drujensen commented on #271
@yumoose You are correct.  I should have caught this since I had changed this to maintain a single database before.  I will look into fixing this issue.  Thanks for reporting it.

[2018-08-26 03:26] shayneoneill opened #275 "Multiple has_many/belong_to to same model."
I'm trying to represent an acyclic graph structure and need to be able use multiple has_many/belong_to refering back to the same table.

The problem is, even if I can specify the foreign_key in a belongs_to , I cant specify in the has_many what that belongs_to field is. In fact even in a simple relationship Owner 1 -> M Thing The foreign key set on thing is ignored by the has_many.

It doesnt seem

[2018-08-26 04:10] drujensen commented on #179
Yeah, I agree.  Let's remove it.

[2018-08-26 04:13] drujensen commented on #275
@shayneoneill I spent quite a bit of time adding the ability to override the field used on the has_many relationship but ran into the inflector not being available in a macro.  It would have required some seriously bad coding to fix.

I am in agreement that it should be eliminated.

[2018-08-26 04:41] shayneoneill commented on #275
So its currently not possible to use has_many with a belong_to that specifies a field name?

[2018-08-26 07:09] drujensen commented on #275
not yet.  you can always just create a method that handles the `has_many`.  This is all the macro does.
[code]

[2018-08-26 14:14] rishavs commented on #271
Probably related to this. I am also getting too many open connections error on running a simple select query a couple of times. Also the queries are taking 1+sec while they generally take 150 ms to complete.

[code]

[2018-08-27 18:58] robacarp commented on #193
@astupidnerd currently Granite doesn't support implementing any custom data types

[2018-08-29 19:12] #271 closed

[2018-08-29 19:14] #209 closed

[2018-08-29 19:15] drujensen commented on #208
closing as duplicate of #129

[2018-08-29 19:15] #208 closed

[2018-08-29 19:17] drujensen commented on #179
closing as duplicate of #129

[2018-08-29 19:17] #179 closed

[2018-08-29 19:19] #101 closed, assigned to nobody

[2018-08-29 19:30] drujensen commented on #93
This will be addressed with ticket #129.

[2018-08-29 19:30] #93 closed

[2018-08-29 19:32] drujensen commented on #275
This issue will be addressed with #129

[2018-08-29 19:32] #275 closed

[2018-09-08 03:16] drujensen commented on #129
@shayneoneill PR #278 removes the pluralization of the table name and the has_many relationship.  It always felt like a hack to me and removing it feels great!  Take a look at the PR and provide any feedback.  Thanks!

[2018-09-08 04:17] shayneoneill commented on #129
perfect.

[2018-09-09 21:02] #129 closed

[2018-09-09 21:10] drujensen commented on #103
fixed in #278

[2018-09-09 21:10] #103 closed

[2018-09-09 21:14] drujensen commented on #121
@shayneoneill @robacarp I think adding db constraints in the migration scripts would be perfect.  I always hated rails for not properly supporting RDBMS constraints.  We should look into that solution further.

Maybe we can add this as a feature of #182 WDYT?

[2018-09-09 21:33] drujensen commented on #243
@robacarp I think this requires some knowledge of the business logic to determine if an object is less than or greater than another object.  I don't think we should try to implement this feature.  For example, you might use the `name` field for a `User` object but you would use the `zip code` for an `Address` object.

[2018-09-09 21:33] #243 closed

[2018-09-09 21:41] Adam-Stomski commented on #121
I'm pretty sure it should be easy to implement here: https://github.com/amberframework/granite/blob/master/src/granite/association_collection.cr

[2018-09-10 03:11] #149 closed

[2018-09-10 04:17] drujensen commented on #121
@Adam-Stomski yeah, we can add a `delete_all` here fairly easily. We can also support cascade deleting children rows on a `has_many` relationship.

I guess the question is if we should take advantage of the RDBMS to handle the relationship integrity.  For example, you can specify a cascading delete in the relationship in the database:
[code]
The nice thing about this is that your data will never g

[2018-09-10 21:01] robacarp commented on #121
Rails did eventually add support for most database level constraints, but it was vacant for far too long.

The answer is, I don't think we do. If someone wants to add that to the database, they'll have to add that manually. Adding #delete_all to the association_collection is a great next step though. It'll be needed even if granite someday gets control over db constraints.

[2018-09-10 21:17] Adam-Stomski commented on #121
I guess the question then is, should granite follow ActiveRecord and add two methods:
1. `destroy_all` - just runs destroy on each record in loop, runs callbacks
2. `delete_all` - deletes all records in a single query, no callbacks

wdyt? I will have some time this week, can add it

[2018-09-20 06:38] joenas opened #282 "Registering driver not working"
[code]

I keep getting this in production with code that works just fine in development.
I've tried every possible order when require-ing and registering adapter but nothing works.

Right now this is what I have

[code]

Your "Getting started" says this:

I'm running the app on dokku with Herokus buildpack. The database ENV is there, I even had a `puts` to make sure... so I'm lost. It's probably s

[2018-09-20 09:15] faustinoaq commented on #282
Hi @joenas try using `name: "pg"`:

[code]

[2018-09-20 09:21] faustinoaq commented on #282
Oh, I just missed this :sweat_smile:

In this case, ensure `DATABASE_URL` is available in your code during production, try:

[code]

[2018-09-20 14:07] drujensen commented on #282
which version of Granite are you using?

[2018-09-23 19:32] joenas commented on #282
I'm using `0.14.0`. I actually put the url to my docker container straight in the crystal file just to see if it worked and it did. So it's something with the `ENV` in dokku, could be that it's not escaped properly.. I doubt it's releated to granite though so I'll close this for now.

[2018-09-23 19:39] joenas commented on #282
I sorted it out with `ENV["DATABASE_URL"].gsub("\"", "")` so there's that...

[2018-09-26 07:31] #282 closed

[2018-10-14 01:15] Blacksmoke16 opened #287 "from_json broken on crystal 0.26.1"
As discovered in #286

[2018-10-14 02:04] #287 closed

[2018-10-14 02:15] drujensen commented on #136
I'm going to close this in favor of Adapter specific types issue #152

[2018-10-14 02:15] #136 closed

[2018-10-15 04:55] #189 closed

[2018-10-15 04:55] #188 closed

[2018-10-15 05:12] drujensen opened #291 "Move finders to new query builder"
There are several finder methods that need to be moved to use the new query builder:
- first
- first!
- find
- find!
- find_by
- find_by!
- find_each
- find_in_batches
- all

Also, We need to move the Collection with its finders that allows for queries to be built off of the belongs_to and has_many relationships

[2018-10-15 05:14] drujensen commented on #234
I believe this has been done.  closing this.

[2018-10-15 05:14] #234 closed

[2018-10-16 01:34] #216 closed

[2018-10-17 14:29] eliasjpr commented on #136
By specifying both, we can do the casting or attempt to do the casting using Crystal `type.as(other_type)`, also it will allow us to create the DB table structure with specific DB types if the user wants more control over that. This is something that I have seen in Hibernate (Java ORM) and many other ORMs

[2018-10-17 14:31] eliasjpr commented on #152
By specifying both class and db type we can do the casting or attempt to do the casting more explicitly, using Crystal type.as(other_type), also it will allow us to create the DB table structure with specific DB types if the user wants more control over that. This is something that I have seen in Hibernate (Java ORM) and many other ORMs

[2018-10-17 14:45] drujensen commented on #152
We should be able to get the type via the definition of the field itself.  `field name : PG::Numeric?`  If we add support for custom types, then you could define your own field `field name : MyNumeric` that has the ability to handle the marshaling.

[2018-10-17 16:46] Blacksmoke16 commented on #152
Also know to actually declare your field as type `MyCustomType` there has to be a way to tell each db adapter shard how to handle that type.  Otherwise you would get errors like:

[code]

Example for adding one of UUID for PG
[code]

[2018-10-17 17:10] #210 closed

[2018-10-17 20:42] Blacksmoke16 commented on #71
Marking this as on-hold since it depends on a MSSQL lib shard

[2018-10-18 23:52] Blacksmoke16 opened #295 "Run specs for MySQL 8"
On hold until https://github.com/crystal-lang/crystal-mysql/issues/62 is resolved.

[2018-10-19 00:16] Blacksmoke16 opened #296 "SQlite Versions"
Currently we are only testing the version of SQlite that comes with the crystal ubuntu install. `3.11.0`.  This is 14 minor versions behind the latest.

Would it be worth to test other versions, or at least use the latest version to test on?  I would like to use at least version `3.24.0` which added an upsert feature with the same syntax as PG uses.

https://www.sqlite.org/lang_UPSERT.html

[2018-10-19 15:42] drujensen commented on #296
yes.  Rule of thumb is test the stable version and one version previous.

[2018-10-19 15:47] Blacksmoke16 commented on #296
👍 I'll look into doing this this weekend.  Would users who use sqlite be on the latest version?  i.e. if I were to refactor the bulk imports to use the new upsert feature, that would break people using older versions.

[2018-10-21 18:39] Blacksmoke16 commented on #225
@robacarp I was looking into this a bit more.  From what i can tell (at least related to PG), is that PG doesnt support timezone specific datetime with timezone columns.  For example using the `TIMESTAMP` data type:
[code]
Which prints (with extraneous fields removed):
[code]
PG will take the given date and assume and store it as is, but when returning it, no TZ data is given so crystal assumes it

[2018-10-21 19:30] Blacksmoke16 opened #298 "Not Nil fields refactor"
Having the `field` vs `field!` to determine if a column is not nil doesn't feel crystal like to me.

IMO, wouldn't it be more clear to base that off of the type of the field?  For example:
[code]

This is essentially what the `field!` macro does, but then you could end up with using the bang version of field with a type of `String`.  At a glance this makes it feel like it should be not nil, based

[2018-10-21 20:04] robacarp commented on #225
Interesting. I wonder what other frameworks do.

[2018-10-23 05:51] c910335 commented on #298
The idea of `field!` came from [`Object property!`](https://crystal-lang.org/api/0.26.1/Object.html#property%21%28%2Anames%29-macro).

[2018-10-23 06:37] drujensen commented on #298
Interesting.  Didn't know Crystal had that.

Maybe we should keep this syntax and leverage the `property!` macro to define it.

[2018-10-23 12:07] Blacksmoke16 commented on #298
That's kinda how it works now, using `field!` sets a flag that changes the suffixes on the property/getter.

This is on my list to look into, ill post an update when i get some time to look into this more.

[2018-10-26 20:04] Blacksmoke16 opened #300 "Crystal 0.27.0 support"
https://github.com/amberframework/granite/search?utf8=%E2%9C%93&q=epoch

Will need to replace the `.epoch` with `.to_unix` for new crystal version support.

[2018-10-28 01:33] #296 closed

[2018-10-29 01:16] Blacksmoke16 commented on #298
@drujensen @c910335 I have a pretty good working prototype of this.  However my current issue is how to handle the primary key.  It's a catch 22 in that the PK can't be nil but it can be nil if its an unsaved model.

So far I have come up with two solutions:

1. Make the PK nilable.
This would require the user to do like `primary my_id : Int64?`.  It also would require the user to do nil checks wh

[2018-10-29 01:30] robacarp commented on #298
I vote for option 2. Nilable behind the facade.

[2018-10-29 15:03] drujensen commented on #298
ditto.  Seems like the best option at this point.

[2018-11-02 22:21] #300 closed

[2018-11-28 21:38] #298 closed

[2018-12-03 15:46] ilanusse commented on #291
Do you want help with this? I'd like to help out with Granite

[2018-12-04 21:48] robacarp commented on #291
@ilanusse I believe this is an open call for pull requests, yes. As a first contribution, my recommendation would be to choose one or two of the listed methods at most. Thanks for diving in!

[2018-12-07 18:59] faissaloo opened #309 "Missing .touch"
Would be nice if I had a method that would just update the automatic timestamps like Ruby on Rails has.

[2018-12-07 21:58] Blacksmoke16 commented on #163
We should have a discussion on how this should work before we/I get too far into the weeds.  Currently I have a simple YAML version working, similar to AR.

However, @robacarp had a different approach, similar to his example earlier.  @yumoose @drujensen Think we can reach a good pattern on how to set this up?

[2018-12-08 00:20] yumoose commented on #163
I like @robacarp's generator approach, though this also requires supporting code for each model which can be a bit more of a hassle than static fixture sets for simple models that don't need too much configuration for their use in tests.

I'd personally love something similar to ActiveRecord using YAML files, but that's just what I'm used to. Both choices or a mix would be great for different situ

[2019-01-07 02:12] #309 closed

[2019-01-10 15:10] IvanDreamer opened #316 "Heroku Postrgres wrong database_url"
HI!

[code]

I ran into an issue with Heroku PostgreSQL db. When I try to run `heroku run bin/amber db create` it gives me following error:

Connection unsuccessful:

Basically it takes right DATABASE_URL but for some reason database NAME is wrong. Instead of "d5ppdrsdr66sh1" you can see there "postgres". How and where it happened I don't know.

P.S. I removed the db, it was created for test purpo

[2019-01-14 08:33] IvanDreamer commented on #316
And it was resolved after  I realised that I don't need to run `heroku run bin/amber db create` command on Heroku because the DB is already created.

`heroku run bin/amber db migrate` is enough

[2019-01-14 08:33] #316 closed

[2019-01-18 10:14] Pepan commented on #182
Ruby starts some time too, and running migration is like start Ruby and then run script. So I thing speed will be very similar when you compile migration and then run it. Crystal already can do something like crystal run src/my/main.cr ...

[2019-01-27 11:17] faissaloo opened #318 ".update() without changing timestamps"
This is occasionally useful, it would be great to have a flag to disable callbacks and such.

[2019-01-30 14:14] igbanam commented on #182
The question which kept coming to mind while considering this is "Is it faster in Crystal or in SQL?"

In deliberating on ☝️ with myself, I realized that the Migrator for Crystal would only be sugar on SQL. This would mean that over time, the Migrator may begin to struggle to do what SQL does best. Also, leaving the migrations in SQL forces the developer to think about their data from a data persp

[2019-01-30 14:44] drujensen commented on #182
@igbanam I agree with you!  But we are in the minority.

I have heard several complaints from self proclaimed "lazy" rails developers that don't want to use SQL DDL (Data Definition) or DML (Data Manipulation) and prefer the framework handle it for you.

We have already introduced `where`, `has_many`, etc for the DML.  This is just continuing down that path (rabbit hole) to create the DDL as well.

[2019-01-30 15:11] igbanam commented on #182
@drujensen …but this is Amber, not Rails 🙂

[2019-01-30 20:59] kevinelliott commented on #182
@igbanam Food for thought: What about allowing multiple types of migrations, detected either by a hint at the top of the migration file or by extension (i.e. `201901300020302782_add_twitter_to_users.sql` for SQL migration and `201901300020302782_add_twitter_to_users.cr` for Crystal-based migration). This would obviously introduce migration order complexity, but this could be mitigated in the migra

[2019-01-30 21:15] kevinelliott commented on #291
I'm not sure if this request is out of place, but it seems to go along with adding finders to the associations -- can we add `order` to the list?

Being able to do `user.posts.order(created_at: :desc)` instead of `Post.where(user_id: user.id).order(created_at: :desc)` seems logical.

[2019-01-31 15:45] Pepan commented on #182
Hi. I thing you miss one benefit of DSL migrations and this is switching between databases ... You develop on Mysql or SQLITE and have production in PostgreSql ... I using SQL migration you can't do that ...
Second one you miss a speed . Writing User.find_by email: 'guest@gmail.com' is definitely shorter than SELECT * FROM "users" WHERE "users"."email" LIKE "%guest@gmail.com%";

Customers are payi

[2019-01-31 16:09] drujensen commented on #182
@Pepan Yes, very aware of the benefits of a DSL but I think you may not be aware of the downside.

The biggest one is that the developer doesn't know what is going on.  They write the code completely unaware the SQL is even being used.  I have seen too many rails projects considered `slow` because the developer didn't know how to add an index or properly avoid N+1.  They then decide that the probl

[2019-01-31 16:24] Pepan commented on #182
@drujensen We know about N+1 problem ale if it is in case we optimise it for this problem, but if it is no bottle neck, we don't care (f.e. if it is on small table little often used). Also devs have University education so It is expectable that they know about SQL :)
I thing that N+1 is also no problem for migrations ... in other hand you can use some optimising, caching if you use AR which is not

[2019-01-31 16:54] drujensen commented on #182
@Pepan Right, you would think these are easily solvable problems. ;-)   I'm just stating my anecdotal observations here in the U.S.  Maybe my concerns are not founded.

[2019-02-06 07:08] shayneoneill commented on #121
@robacarp if memory serves me right, David Hansson use to harbor some *really bad* ideas about database consistency, feeling that constraints belonged in the code not the database. Something I personally consider reckless. Constraints should be opt-out, not opt-in. It can't be assumed the coder understands the implications of orphaning records well enough to make the right decisions around deployi

[2019-02-17 23:09] Jens0512 opened #319 "Add `Granite::Migrator#create_sql` and `#drop_sql`"
### tl;dr

`Granite::Migrator` generates SQL on `#drop` and `#create`, and runs it imminently. The possibility of having the migrator export the generated SQL would be nice for use in migration tools like `micrate`. The generating functionality is already in place, implementing this would just be moving the generating code into `create`- and `drop`- `_sql` methods (names debatable), and using them

[2019-02-18 14:08] Jens0512 commented on #319
`#generate_drop_sql` may be a better name.

[2019-02-18 19:22] lebogan opened #320 "Compile error using granite and crystal 0.24.2 (LLVM 5.0.1) on raspberrypi"
Is this a Crystal or Granite error?

Syntax error in lib/granite/src/granite/callbacks.cr:7: expecting token ']', nit '::' @[JSON::Field(ignore: true)]

Thanks

[2019-02-18 22:15] Jens0512 commented on #320
It is because your crystal compiler is ancient :D, current version is 0.27.2.
Update your crystal and this should be working

[2019-02-19 22:07] lebogan commented on #320
Thanks @Jens0512 . Since this is what I can get for the armhf architecture, I'm going to have to come up with something else, maybe cross-compile. Yuk!

[2019-02-19 22:07] #320 closed

[2019-02-20 10:23] Jens0512 commented on #320
Couldn't you just build the compiler yourself?

[2019-02-21 16:45] robacarp commented on #319
@Jens0512 I think this is a fine idea.

[2019-02-21 19:51] Jens0512 commented on #319
Great, I can't get the specs working (docker image problems), but I got this done locally. Shall I still just PR?

[2019-02-25 17:03] robacarp commented on #319
@Jens0512 a PR is welcome, yep.

[2019-03-03 12:20] maxlambertini opened #327 "Scalar, views and multi-table transactions"
Hello,

I'm testing Granite and, while concise and good, there are three things IMHO it partially covers (blame me being a DBA...)

* Multi-table transactions
* Literal queries support and mapping results to a single scalar, an array of scalars or an array of instances.
* Supporting tables without a primary key (thus enabling querying on Views: it can be done, but you have to "fake" a PK by design

[2019-03-03 13:51] maxlambertini commented on #327
Ok, found the "Custom Select" part. It is nifty but I also have to define a Model for every query.

[2019-03-03 17:18] maxlambertini commented on #327
Tested the Custom Select feature and it does not work as intended.

I modeled a class as per your example:

[code]

This is my original class

[code]

Executing `EventCon.all.each do | ev | .... end` yields the following stack trace:

[code]

Specifying a dummy ID field in your query works:

[code]

[2019-03-07 19:01] eliasjpr commented on #182
I'm split on this. The reason I think it would be good to have a migrator comes up mostly because of the Migrate shard. Don't get me wrong I think is a great project but it still has its limitations. One of them being executing multiple queries.+

[2019-03-18 18:27] #319 closed

[2019-03-24 05:40] Blacksmoke16 commented on #327
@maxlambertini It looks like it's also wanting to return the ID of the table as well.  If you do not specify a PK using the `primary` macro, it defaults to `Int64`.  So maybe try returning the ID as well as a workaround.

I'm thinking its a bug in that the point of the `select_statement` is to only select what you want, this should not have to require the id/PK column.

[2019-04-02 14:51] kvirani commented on #182
Migrations written in the app language (eg: Ruby) _and_ with the framework (eg: Rails) loaded up, do offer a lot of convenience:

1. We're able to forget DDL syntax, which imho is the first part of SQL syntax that non-DBAs forget, and that's largely an _okay_ thing. I do agree that it's important for the syntax to remind us that we're dealing with tables, indices, etc. I think AR's migration synta

[2019-04-04 17:11] robacarp commented on #182
To my experience, one of the best features of SQL migrations is that your models and app code aren't available. Data migration logic should live elsewhere, not in with the schema migrations.

[2019-04-06 12:33] johansenja commented on #123
Are there any updates on this? I have seem to be having the same problems - I'm on version 0.15.2, which as far as I am aware appears to be the latest

[2019-04-18 22:10] lebogan opened #328 "Shard name mismatch"
Updated my Kemal-based application to Crystal 0.28.0. Ran shards update and got the following error message:
[code]
My shard.yml entry:
[code]
I have manually removed the granite shard from cache and run `shards install` with the same error. What is the reference to `kemalyst-model`?

As always, I greatly appreciate any and all help from this great community. Keep it up!

[2019-04-21 20:23] lebogan commented on #328
On further investigation:
[code]
Specifying the version works. This appears to be my lack of understanding of the shards dependency manager. I am going to close this issue.

[2019-04-21 20:23] #328 closed

[2019-04-21 20:49] elorest commented on #328
Thanks for the update. I would have assumed it would use the latest version if not specified.

[2019-04-21 22:00] lebogan opened #329 "Crystal 0.28.0 support"

[2019-04-21 22:11] lebogan commented on #329
Using the --warnings flag to build one of my cli-based apps, I get a warning about using `Time.local` or `Time.utc` instead of `Time.now` in `lib/granite/src/granite/transactions.cr`.

As this has been noted as a breaking change (depreciation) by the Crystal team, I updated my local copy and recompiled.

Is this something to be overly concerned about?

[2019-04-22 16:45] Blacksmoke16 commented on #329
@lebogan These are just warnings letting you know they are deprecated and will be removed in a _future_ version.  It does not affect Granite's ability to work on `0.28.0`; just that we will want to replace the usages for the next crystal version.

[2019-04-22 16:53] #329 closed

[2019-04-22 16:54] Blacksmoke16 commented on #329
@lebogan However I'll submit a PR to take care of this and update CI to use `0.28.0`.

[2019-05-02 02:55] dkniffin opened #331 "Include associations when calling to_json"
I'm looking for the ability to serialize associations. For example, if I've got the following classes:

[code]

and then I set up some objects:

[code]

when I serialize it (with `fam.to_json`), I'd like to have a way to include the associations (members, in this case). As far as I can tell, currently just includes attributes (id and timestamps).

I may be missing something, in which case great! T

[2019-05-02 03:06] dkniffin commented on #331
Another possible solution would be a separate serialization library, where I can create serializer classes that get used, similar to [ActiveModelSerializers](https://github.com/rails-api/active_model_serializers)

[2019-05-03 01:50] Blacksmoke16 commented on #331
Granite serialization is built on top of JSON/YAML::Serializable in the standard library.  In order to support this you could simply define an `on_to_json(builder : JSON::Builder)` method to add that field.

[code]

This would include a `"members"` property in the json output with a value of your members.

[2019-05-06 13:59] dkniffin commented on #331
Interesting. I'm still very new to Crystal. Do you have a link to the docs on this? Also, I think it'd be good to call that out in the granite and/or amber docs somewhere.

[2019-05-06 14:03] Blacksmoke16 commented on #331
It already is, the first line in the [json support](https://github.com/amberframework/granite/blob/master/docs/json_support.md#json-support), but it seems I missed documenting the `on_to_json`.  I'll make a PR to update that file to include an example of it.

[2019-05-06 14:56] dkniffin commented on #331
Yeah, that would be a good example to have. Thanks!

[2019-05-14 17:52] nsuchy opened #333 "Warn on create if Primary Key / ID is out of the default sequence"
I ran into a bug (https://gitlab.lunorian.is/snippets/177) caused by the ID in my database being out of sequence as I copied stuff over from my development environment database onto the server (which probably wasn't the best way to migrate in retrospect). That said I later encountered a bug preventing me from adding versions since the ID it was trying to use was taken. It gave me a difficult to un

[2019-05-14 18:26] Blacksmoke16 commented on #333
This is a bit outside the scope of Granite.  It's not really Granite's responsibility to make sure the underlying database was setup properly, or resolve issues related to it.

[2019-05-14 18:26] #333 closed

[2019-05-14 18:34] drujensen commented on #333
@nsuchy with that said, looks like the auto increment value is not properly set on the new db.  Consider setting it to the `max(id) + 1`.  Here is how you would do that for MySQL:
`ALTER TABLE tablename AUTO_INCREMENT = 1234`

[2019-05-14 18:42] Blacksmoke16 commented on #333
Sorry @drujensen, this issue was a followup to an issue he had that was resolved in the amber chat on Gitter.  Issue was a DB migration he did, didn't include the sequence for the table from dev to prod.  Thus the PKs were overlapping, causing the reror.

[2019-05-14 19:28] artworx opened #334 "Extra group by in .count query"
This count query:

[code]

generates the sql:

[code]

I would expect the sql to not contain any `group by` clauses.

The model looks like this:

[code]

[2019-05-14 21:29] rmarronnier commented on #331
Hmm, would it be possible to have :
`has_many :members, class_name: Person, json_options: {include: true}`
?
That would be cleaner / more elegant (?)

[2019-05-14 23:47] Blacksmoke16 commented on #331
Maybe yes, but it would increase the effort required to close this issue by a lot.

If you/someone can figure out a good way to implement it feel free to open a PR, but for now, just documenting this is prob good enough.

[2019-05-15 00:16] Blacksmoke16 commented on #334
This is because aggregates require a group_by, but `count` does not.

[2019-06-04 14:57] #331 closed

[2019-06-06 00:34] nsuchy opened #337 "Crystal 0.29.0 support"
Crystal 0.29.0 is out and with breaking changes (https://github.com/crystal-lang/crystal/releases/tag/0.29.0).

@Blacksmoke16 and I discussed over Gitter DMs and we're aware of the following things that needs a fix:

- [ ] Json serialization - [broken by these changes](https://github.com/crystal-lang/crystal/pull/7818#issuecomment-498086324)

[2019-06-06 16:49] bcardiff commented on #337
My understanding is that the `.new` should be defined in the subclasses, but maybe the `initialize(pull: ..)` are not. If that's the case something like this _might_ help:

[code]

It seems I need to add this repo to test-ecosystem...

[2019-06-06 17:02] Blacksmoke16 commented on #337
@bcardiff I think I have it working where all the required initializers are defined on sub classes, however now I'm getting

[code]

Where it seems that JSON/YAML serializable types are leaking into the has that gets created via the
[code]
initializer.

I haven't looked too much into it yet though.

[2019-06-06 18:55] bcardiff commented on #337
The `: Object` adds nothing. And maybe is hiding the other initializers. Try directly without restriction. But it might be hitting still some corner case.

[code]

also, since there is a `set_attributes` maybe the serialization code can be changed to use that and it might make more sense in the context of granite. Dunno.

[2019-06-07 14:53] bcardiff commented on #337
FYI granite was added to test-ecosystem https://github.com/bcardiff/test-ecosystem/commit/47a049f5d3131b89c983becfa24652a853af97c9 . It would flag issues for the next release earlier. But the stories to how to be up to date with nightlies before release needs to be improved so they can be handled in each shard.

[2019-06-07 22:53] nsuchy commented on #337
Even with the two initializers inside the inherited macro the specs won't run.

[code]

[2019-06-07 22:55] Blacksmoke16 commented on #337
@drujensen @robacarp IMO the easiest solution here is to mark the JSON/YAML specs as pending, remove the `JSON/YAML::Serializable` modules, then revisit serialization.  This would at least allow it to work on 0.29.0, but would obviously break the serialization stuff for people.

I currently don't have the time to do it myself, however I'd be happy to chat through it/help in the discussion if someo

[2019-06-08 00:36] bcardiff commented on #337
@nsuchy that means [the argless initializer](https://github.com/amberframework/granite/blob/master/src/granite/base.cr#L56) hidden in the concrete class. Since the last `include` in the `macro inherited` section is probably hiding the initializers defined in `Base`.

I tried moving everything inside the `macro inherited` hook. And changed the `**args` to be `DB::Any` since that is more accurate fo

[2019-06-08 01:01] nsuchy commented on #337
Crystal 0.29.0 support is important at the same time I won't want to see functionality go away to get that support.

[2019-06-08 22:30] #337 closed

[2019-06-09 09:02] alex-lairan opened #339 "One request - Many objects"
Hi !

I'm using Granite, and I have a problem with joins.

Here my code :

[code]

`surveys.first.questions` should not request the database, but it does.
Same for `surveys.first.questions.first.responses`.

My serializer is like that :

[code]

How I need to change my code to do only one request ? Because `n+1` takes long :/

[2019-06-09 14:57] Xosmond opened #340 "Error undefined macro method 'Union#resolve'"
Hi the last PR introduced an error when type is a union

[code]

[2019-06-10 13:33] drujensen commented on #340
@Blacksmoke16 can you look into this?

[2019-06-10 13:59] Blacksmoke16 commented on #340
Yea, I'll take a look when I get home tonight.

[2019-06-10 14:07] drujensen commented on #339
Not yet. You are looking for `includes` or eager loading.  See ticket #65

Your best option is to query each of these tables separately.  Not sure how to get those into your serializers though.

[2019-06-10 19:14] Xosmond commented on #340
Oh i see, thanks, I will do it, I didn't know everything was nilable by default.

[2019-06-10 19:21] Blacksmoke16 commented on #340
Yea, making your type nilable here actually makes the type of the property `Union(Time | Nil | Nil)`, but it knows to strip out the extra Nil.

By default, the return type of a field getter, e.x. `model.sent_code_at`, is nilable.  However you can use the bang version of the getter, `model.sent_code_at!`, which basically just does `.not_nil!` if you know that property is not nil; due to a DB constr

[2019-06-10 20:39] drujensen commented on #340
@Blacksmoke16 good question.  My gut says we should do the former. But I am wondering about your proposed scenario.  Would someone want to define a field as a union type other than Nilable?  Would that be useful?

[2019-06-10 20:44] Blacksmoke16 commented on #340
If they do I'd be interested in hearing the use case.  The underlying column can only have a single type anyway.  Yes you could store `42` in both `INT` and `TEXT` columns, but even then the type of the value is `Int32` OR `String`, it can't really be both.

[2019-06-10 20:45] drujensen commented on #340
What about `(Int32 | Int64)`?

[2019-06-10 20:46] drujensen commented on #340
nm, the database really dictates the type here.  I think Unions should not be allowed.

[2019-07-02 23:00] Xosmond opened #344 "Feature Request: Support slave/master database connections"
Hello i have a problem, I have two different database url's, one for reading/writing and one for only reading. I would like to have the ability to change the adapter on an instance object so I can write over it. Like:

[code]

[2019-07-03 00:06] Blacksmoke16 commented on #344
I think this would be a good feature to have but would like to think though the design a bit first.

Thoughts @drujensen @robacarp?

[2019-07-03 00:59] #340 closed

[2019-07-03 01:16] #193 closed

[2019-07-03 01:16] #152 closed

[2019-07-11 12:23] Blacksmoke16 commented on #123
@johansenja This will be fixed in #346.

[code]

It will at least not error on you.  However I wouldn't call this STI in that there would have to be some extra work to support automatically settings a discriminator.

[2019-07-11 12:29] Blacksmoke16 commented on #327
@maxlambertini This will be fixed in #346.  At least the bug related to your `select_statement`

[code]

[2019-07-11 12:35] Blacksmoke16 commented on #238
Duplicate of #123

[2019-07-11 12:35] #238 closed

[2019-07-12 12:10] Blacksmoke16 commented on #123
Actually after looking into the issue more it's a bit more involved than I thought.  My fix then causes some other issues when actually using the validations.

I'm going to save this for another PR at some point if I think of another option.

[2019-07-14 00:34] EnricoMonese opened #347 "Error in docs about deletion"
Not too important but it caused me some headaches because I thought it was not working.

[I'm talking about this exampe](https://github.com/amberframework/granite/blob/master/docs/crud.md#L109)
with this code
[code]

It seems the `unless` parts no longer works as intended, since I never got any output.

Also related #145, could be accounted in the docs 👍

It could be better maybe a bit like this:

[2019-07-14 00:53] Blacksmoke16 commented on #347
Correct, could you make a PR?

[2019-07-15 13:12] EnricoMonese commented on #347
Made a PR #348 👍

[2019-07-15 15:15] #347 closed

[2019-07-17 16:21] EnricoMonese opened #349 "Are Converter docs right?"
Are the Converter docs right, is there anything else to do to use this feature?
I even tried the example provided but it doesn't seem to work

[code]

[2019-07-17 16:31] Blacksmoke16 commented on #349
They should be.  Got some example code?

[2019-07-17 20:26] EnricoMonese commented on #349
Ah yes, now it works. Does it default to the latest release tag otherwise?

Also I've had some minor things to fix though.
The `\` at the end of the line [here](https://github.com/amberframework/granite/blob/master/src/granite/association_collection.cr#L41) was giving errors, removing it fixed it.
And I had to add `require "uuid"` [here](https://github.com/amberframework/granite/blob/master/src/gr

[2019-07-17 20:29] Blacksmoke16 commented on #349
Yea if you would.  Kinda concerning CI didnt pick these up?

[2019-07-17 21:26] EnricoMonese commented on #349
This can be closed then

[2019-07-17 21:26] #349 closed

[2019-07-17 21:31] EnricoMonese commented on #349
The weird thing about the `\` is that it should be needed for the multiline string

[2019-07-17 21:32] Blacksmoke16 commented on #349
Oh, then there must be something else going on.  What was the granite version you're using?

Also what crystal/os?

I'm mainly wondering why CI didn't error but it did for you.  Might be worth looking into.

[2019-07-17 21:40] EnricoMonese commented on #349
[code]
[code]

And I'm on macOS 10.13.6 (High Sierra)

[2019-07-17 21:48] EnricoMonese commented on #349
Could be related to https://github.com/crystal-lang/crystal/issues/5831 ?

[2019-07-17 21:54] EnricoMonese commented on #349
Yes that is the problem, I converted the line endings and now it works

[2019-07-17 22:25] Blacksmoke16 commented on #349
That would do it.

I'll fix the uuid thing in the PR i have open.  Think I know why CI didn't pick it up.

[2019-08-04 21:55] unequaled86 commented on #334
fixed #352

[2019-08-04 22:00] #334 closed

[2019-08-06 13:41] #327 closed

[2019-08-14 12:49] drujensen opened #355 "cannot set `belongs_to` column using `new` or `set_attributes`"
I have a model:
[code]

When I try to set the `post_id` using `new` or `set_attributes`, it doesn't set.
[code]

A work around is to lookup the `post` and set it directly:
[code]

[2019-08-14 20:33] Blacksmoke16 commented on #355
@drujensen This isn't actually a bug.  By default we define FKs as `Int64?`, you're passing in an `Int32`.  It's adding an error.

[code]

If anything this would be a change in how we handle errors.  I.e. raise an exception when this happens or something along those lines?

[2019-08-14 20:36] drujensen commented on #355
We must have handled this before.  This is going to be problematic for Amber Controllers if we need to convert the type to `i64` for every id.

[2019-08-14 20:39] drujensen commented on #355
Looks like `save` is not returning false:
[code]

[2019-08-14 20:55] Blacksmoke16 commented on #355
It should be, the logic around `#save` hasn't changed.

https://github.com/amberframework/granite/blob/master/src/granite/transactions.cr#L191-L196

[2019-08-15 03:40] drujensen commented on #355
Ok.  Something strange is going on.  In Amber we have a controller:
[code]
The `validate!` returns a hash of the params passed in.

The params are properly being set according to the logs so its not the view:
[code]

But the Granite insert statement is showing `nil` values for the foreign keys:
[code]

[2019-08-15 03:43] drujensen commented on #355
I jumped to the conclusion this was Granite related since that is the only thing that really changed.  I will keep investigating to see if I can track down what is causing this.

I verified that the `id's` being passed are `Int64` so my initial bug report is incorrect.  I will close this and open a new one if I can determine what is the cause.

Thanks for looking into this.

[2019-08-15 03:43] #355 closed

[2019-08-16 01:13] drujensen opened #356 "belongs_to fails to assign value when passed in as Hash of String's"
If I have a class:
[code]

Then I try to create a new `post` in an Amber controller using the params:
[code]

The insert sets the `user_id` as `nil`
The `save` returns `true`
The `user_id` is not properly set

Here are the results:
[code]

@Blacksmoke16 This used to work before the recent changes. Any idea's on the best way to resolve this?

I'm hoping that we don't have to generate special code t

[2019-08-16 02:10] Blacksmoke16 commented on #356
There are two issues at play here.

One being a bug in that the validator is only validating against the defined validators.  It clears the errors before doing so, thus not catching this type mismatch error.  To handle this I think we can either be more strict around type mismatches, raising an exception for example, or make sure the errors array isn't empty when seeing if the model is valid.

The

[2019-08-17 02:59] drujensen commented on #356
@Blacksmoke16 I see you added `status:wip` label.  Are you going to take a stab at this?  Looks like you may be able to leverage some of the work you did in athena.  If not, I will make an attempt at it.

[2019-08-17 03:01] Blacksmoke16 commented on #356
Yea I can fix it this weekend.  However we should come to a decision on which option we should choose for each issue.

[2019-08-17 03:20] drujensen commented on #356
@eliasjpr and I talked about having the params use the proper types instead of just a Hash of Strings for everything.  It goes a little against DRY principles if we have the fields and types defined twice, but I can see wanting to validate the param types in the controllers instead of down in the models.  I could go either way.

@eliasjpr @elorest wdyt?

[2019-08-17 15:18] drujensen commented on #356
@Blacksmoke16 I think for now, we should restore the existing functionality and handle the conversion in Granite.

Regarding the errors, I feel like if we decide to handle the conversion, then we should generate an error in the validation array when there is a failure to convert from `String -> T` expected.  So for example, if someone tries to send in a String of `hello` to an `Int64` type field,

[2019-08-17 17:13] Blacksmoke16 commented on #356
Should be doable yes.  However IMO it's less than ideal Amber is relying upon an ORM to convert params to their correct types.  I feel like that should be something that happens prior to newing up a model, but idk how much work that would be.  I'm okay with bringing that back for now.

[2019-08-17 18:40] #356 closed

[2019-09-13 23:52] Blacksmoke16 opened #358 "[RFC] Remove validations"
The current implementation of model validations is less than ideal.  I.e. #123, #238.  As I see it we have two options:
1. Try to come up with a similar API to the current validation implementation that avoids the issue with inheritance
2. Remove validations, either in favor of another shard or a reimplementation of it in a better way.

Based on the start of some of the conversation around https:/

[2019-09-14 11:48] igor-alexandrov opened #360 "How to map JSON/JSONB from Postgres"
I have a JSONB column and currently map it into model as `Hash(String, String)` like:

[code]

What is the correct way to map JSON?

[2019-09-14 13:01] Blacksmoke16 commented on #360
Does that actually work?  I'd be surprised if it actually did.  Either way, you have a few options.

First, if you want to have your data be an actual object you could do like

`column asset_data : MyType, column_type: "JSONB", converter: Granite::Converters::Json(MyType, JSON::Any)`

Where you would define a class `MyType` that represents the data, then when you save it Granite would call `.to_js

[2019-09-17 01:58] eliasjpr opened #361 "Problem with Converters when Creating/To_h models"
**Problem**
When trying to create a model that has an Enum type as a column it fails to create the record with

**Example**

[code]
Then try to create a product:

[code]
**Error**

[code]

**Possible Solution**
It seems that Granite should register the custom types in Granite::ModelArgs 🤷‍♂

[2019-09-21 21:47] nsuchy opened #362 "Psuedo Arrays"
Hi, at my organization (@ulayer) we are interested in the ability for Granite to have a sort of Psuedo Arrays to avoid needing to write complex custom setter and getter methods.

Context: Our users want to be able to share their Virtual Machines with trusted contacts. To accomplish that we currently have a String field that looks like `@allowed_clients = "1,2,5,6,8," and so forth. Our model for Vi

[2019-09-21 22:01] Blacksmoke16 commented on #362
We talked about this on Gitter.  Granite currently supports array if the underlying database driver does as well, i.e. Postgres, in the form of `column values : Array(Int32)`.

This however could be documented if someone wants to make a PR.

[2019-09-22 21:07] nsuchy commented on #362
What about including this as a fallback for MySQL?

[2019-09-22 21:36] Blacksmoke16 commented on #362
@nsuchy You could just use a TEXT column with a JSON converter.  I.e.

`column details : Array(Int32), column_type: "TEXT", converter: Granite::Converters::Json(Array(Int32), String)`

Which would save the array as JSON like `[1,2,3]`, then read it from the JSON string as a `Array(Int32)`.

[2019-09-23 16:22] #361 closed

[2019-09-24 11:07] OrelSokolov opened #364 "New 0.17.3 shards bug"
This config was good for yesterday, but today this config
[code]

produces
[code]

[2019-09-24 12:52] drujensen commented on #364
crystal-db was updated in granite as a patch release but it looks like pg is a minor release. Try updating pg to 0.19.0

Sent from my iPhone

[2019-09-26 20:00] nsuchy opened #365 "Running Amber Watch triggers a Granite bug"
Running amber in Crystal 0.30.1 encounters a Granite bug. Information is as follows.

**Error output:**
[code]

**My shards.yml file:**
[code]

**My shards.lock file**
[code]

[2019-09-27 00:27] nsuchy commented on #365
@Blacksmoke16 This is a full error trace, hope it helps
[code]

[2019-09-27 00:40] Blacksmoke16 commented on #365
This is due to the upgrade to `crystal-db@0.7.0`, specifically it seems `Model.all("WHERE", user_id)` where this gets passed to the `select` query that is expecting an

[2019-10-03 17:19] nathanielsuchy opened #367 "Type checking during compilation against Model defined types"
Consider the following model:

[code]

If I write `Book.create(name: "Programming Crystal", author: "Ivo Balaera", year: 2017)` we know that 2017 is an Int of some type (perhaps it's an Int64 in this case, however the Granite model requires you to pass a String. These types of errors could be caught as standard Crystal typing errors and generate a compilation error rather than encountering an issu

[2019-10-03 17:53] Blacksmoke16 commented on #367
Possibly?  I have some ideas on how object initialization could work better now that we're in the annotation world, but need to test/figure some more stuff out.  Ideally I think we would be able to get rid of `set_attributes` in favor of an overloaded initializer for the `DB::ResultSet` case, and possibly just have the user define their own, or define one for them, for the normal flow of like `boo

[2019-10-03 19:33] faissaloo opened #368 "Can't set a field to nil"
This is in Granite 0.17.2 with Postgres.
`post.update(parent: nil)` generates the following statement:
[code]
It seems to be trying to update with the values it already has, changing nothing, the field is marked nillable and this wasn't an issue in previous versions. Trying to change the field to another integer works fine.

[2019-10-03 19:39] Blacksmoke16 commented on #368
What happens if you do:

[code]

Also, could you share your model?

[2019-10-03 19:42] faissaloo commented on #368
When I do that it generates the correct query.
`UPDATE "posts" SET "parent"=$1, "message"=$2, "last_reply"=$3, "updated_at"=$4 WHERE "id"=$5: [nil, "aeuo", nil, 2019-10-03 19:40:28.0 UTC, 9]`
My model is here: https://github.com/faissaloo/ratmachine/blob/master/src/models/post.cr

[2019-10-05 02:18] #368 closed

[2019-10-05 14:43] Blacksmoke16 commented on #364
This should be resolved by now.  Reopen if you're still having issues.

[2019-10-05 14:43] #364 closed

[2019-10-05 14:44] #360 closed

[2019-10-29 00:08] Blacksmoke16 commented on #358
Any thoughts on this @robacarp @drujensen ?

[2019-10-29 19:55] drujensen commented on #358
so I am wondering if @Blacksmoke16 can do his magic and support both the `assert` gem and then add macros to inject the annotation.  This is how the mapping is working.  That way you can use the annotation if you want or you can use the macros that wrap them. Can this be done?

[2019-10-29 20:20] Blacksmoke16 commented on #358
We don't have any `finished` macro hooks left.  The only `inherited` hooks left are for validations, callbacks, and base.  However with the direction it seems we're going in #370, we probably won't need the `macro inherited` in base anymore anyway.

I think ideally the interface that granite uses should be generic enough to allow for using whatever you want to use, be that `assert`, the built in G

[2019-10-29 21:22] drujensen commented on #358
I prefer something a little more rails like:
[code]

[2019-10-30 13:34] damianham commented on #358
This is a referential integrity constraint and that is already available in mysql, postgres and sqlite as  foreign key constraint.

@drujensen I prefer something a little more rails like too and would prefer something that didn't rely on annotations.

[2019-10-30 13:47] drujensen commented on #358
@damianham It looks like crystal is embracing annotations so not sure we have many options.  The `inherited` or `finished` hooks cause other issues like you can't inherit from a Granite Model and they seem to be frowned upon.

I was just hoping to put a little lipstick on the pig.

[2019-10-30 14:38] drujensen commented on #358
@Blacksmoke16 Just to clarify, I wasn't calling your `Assert` library a pig, I was calling the annotations syntax a pig.  I think your code is absolutely beautiful and would love it if we could leverage the `Assert` shard.

Option 2 is where we want to go.  Just wondering if we can do it without forcing the user to use the annotation syntax.

[2019-10-30 14:44] Blacksmoke16 commented on #358
I know, all good :P...oink.

I'm sure it's possible, I just don't think it would be trivial.  If someone wants to take a stab at it and gets something working id be happy to review it.

[2019-11-16 07:11] emanzx opened #371 "undefined constant NilAssertionError"
I have problem to compile my code.
[code]

Here is my model
[code]
Compile traceback
[code]

[2019-11-16 13:56] Blacksmoke16 commented on #371
Your Crystal version is old.  Granite requires at least `0.30.0`.

[2019-11-16 13:56] #371 closed

[2019-12-06 21:15] msa7 opened #373 "Read wrong value from DB"
I have model

[code]

In DB data I have `payment_novat: false`, but in crystal I got `payment_novat #=> true`.

Might be a bug for boolean type with default value.

[2019-12-06 22:09] Blacksmoke16 commented on #373
It's probably some conditional logic check is failing since the value is `false`.

[2019-12-21 16:37] #373 closed

[2020-01-06 23:00] lebogan opened #376 "Update to crystal-db ~> 0.8.0"
Any plans to do this? I am currently running crystal 0.32.0 and granite is broken for me.

Thanks

[2020-01-06 23:07] Blacksmoke16 commented on #376
Oh, yea I can take care of this tonight.

[2020-01-07 00:22] Blacksmoke16 commented on #376
@lebogan, what issue exactly are you running into? Specs pass fine in `0.32.1` with current dependencies.

Obviously I'll update them and CI anyway but it's likely that isn't the root of your problem.

[2020-01-07 00:35] lebogan commented on #376
Running `shards install` on a new project yields this error:
[code]
Shards 0.8.1 [0147a56] (2019-12-18)
Crystal 0.32.1 [41bd18fbe] (2019-12-18)

My shard.yml:
[code]
Not sure how to resolve the error and load granite.

Thanks

[2020-01-07 00:38] Blacksmoke16 commented on #376
You need to specify versions or commit hashes for your dependencies.  If you don't then it'll use the latest version, which are using `crystal-db 0.8.0`, however Granite is pinned to `0.7.0`.

[code]

So in this case updating Granite _will_ fix this problem, but the issue itself is not a Granite issue.

[2020-01-07 00:44] lebogan commented on #376
Thanks for the update and info. I will be correcting my versioning mistakes.
As far as the databases, I was building a app to quickly set up a db-driven website as a starting point. I will also revisit my strategy. Again, Thank you.

[2020-01-07 00:45] Blacksmoke16 commented on #376
:+1: np.

You really only need the one for the database that you're using.  I.e. if you're using PostgresSQL, then you wouldn't need the drivers for Sqlite or MySQL.

[2020-01-07 14:35] #376 closed

[2020-01-15 16:48] m-o-e commented on #182
Why would you develop for a different database than what you have in production?
That's a recipe for disaster.

Shorter != faster.
The latter can be read, written and understood by anyone who knows SQL.

It can easily be tested by pasting it into a database console.
It naturally supports every database specific feature (scripting,
SQL dialects) that the author wishes to use.
It can easily be gener

[2020-01-16 10:00] m-o-e commented on #182
I don't know why you keep using _query_ examples, this ticket is about migrations (DDL).
DB portability is a red herring. It is very rarely needed and it always involves manual work.
ORMs tend to make that process harder rather than easier because they obscure the view
on the generated SQL.

You seem to be focussed on developers who are unfamiliar with SQL.
I would argue Granite already does a gre

[2020-01-22 01:22] eliasjpr commented on #182
Closing this ticket since Granite already has a way to migrate the database via Micrate and adding a new DSL is not desired at this time.

**Benefits of Micrate**
- Plain old SQL allows for clarity, flexibility and freedom to write SQL in native SQL language without tapping into another DSL to learn

**Drawbacks of Micrate**
- Not actively maintained
- Running Migration within crystal classes requ

[2020-01-22 01:23] #182 closed

[2020-01-26 04:38] u89012 opened #378 "Wouldn't it be nice if the callbacks were just simply overridden methods?"
Instead of hooking them manually to a method, wouldn't it be nice to just be able to override the before_* and after_* methods in model classes (if they were) inherited from Granite::Base? Any thoughts anyone?

[2020-01-28 13:58] Blacksmoke16 commented on #378
The problem with that is what if you wanted to do two things within the same callback?  You would have to either combine logic into the one method, or make two private methods to call within the one callback method.

IMO, I would rather opt for something like:

[code]

[2020-02-06 19:24] Nicolab opened #379 "How to execute a transaction with the model?"
Hello,

I am trying to execute a transaction with the model.

It works:

[code]

It does not work:

[code]

Where am i wrong? Maybe I need to pass the `tx.connection` to the User model?

[2020-02-10 13:28] foton opened #380 "Belongs_to association where object do not exists"
Hi, I am tyring Amber and found strange behavior (at least for me). Using `sqlite` as DBMS.
[code]
How I can validate, that provided `league_id` exists in DB?
I manage to make it work by adding `to_s` method to `League`
[code]
but if feels odd to me.